.card {
  // &--rating{
  //   display: grid;
  //   grid-template-columns: repeat(4, 1fr);
  //   gap: 32px;
  //   margin-bottom: 34px;
  // }
  // &--catalog {
  //   display: grid;
  //   grid-template-columns: repeat(3, 1fr);
  //   grid-column: 3 span;
  //   gap: 32px;
  // }
  &__content{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    background: $grey_light;
    border-radius: 10px;

  }
  &__sticker {
    position: absolute;
    display: flex;
    width: 92px;
    height: 34px;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 32px;
    font-weight: 700;
    font-size: 14px;
    color: $light-color;
    background-image: url(../../img/bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    &--rating {
      left: 5px;
      top: 27px;
      background-image: none;
      color: $secondary;
      font-size: 16px;
      line-height: 130%;
      font-weight: 400;
      @media (max-width: 1008px) {
        top: 23px
      }
      @media (max-width: 450px) {
        width: 56px;
        height: 30px;
        top: 10px;
        font-size: 12px;
      }
    }
  }
  &__star {
    margin-right: 5px;
  }
  &__top {
    display: flex;
    min-height: 220px;
    margin-bottom: 16px;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: center;
    align-items: end;
    @media (max-width: 1840px) {
     align-items: center;
    }
    &--rating {
      min-height: 195px;
      margin-bottom: 18px;
      @media (max-width: 1840px) {
        align-items: end;
        padding-left: 13px;
        padding-right: 13px;
        margin-bottom: 17px;
       }
       @media (max-width: 1008px) {
        min-height: 190px;
        margin-bottom: 16px;
       }
      @media (max-width: 450px) {
        min-height: 95px;
        margin-bottom: 12px;
        padding-left: 14px;
        padding-right: 14px;
      }
    }
  }
  &__bottom {
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
    flex-basis: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    &--rating {
      padding-bottom: 28px;
      @media (max-width: 1008px) {
        padding-bottom: 31px;
      }
      @media (max-width: 450px) {
        padding-left: 14px;
        padding-right: 14px;
        padding-bottom: 14px;
        align-items: center;
      }
    }
  }
  &__wrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    @media (max-width: 1840px) {
      margin-bottom: 18px;
    }
    @media (max-width: 1008px) {
      margin-bottom: 22px;
    }
    &--rating {
      @media (max-width: 1008px) {
        margin-bottom: 15px;
      }
      @media (max-width: 450px) {
        margin-bottom: 12px;
      }
    }
    &--product-similar {
      margin-bottom: 21px;
    }
  }
  &__subtitle {
    margin-bottom: 19px;
    @media (max-width: 450px) {
      margin-bottom: 17px;
    }
  }
  &__inner {
    position: relative;
  }
  &__price:not(:last-child) {
    // margin-right: 30px;
    margin-right: 24px;
  }
  &__price {
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    color: $secondary;
    &--old {
      color: $grey;
      text-decoration: line-through;
    }
    &--rating {
      color: $grey;
    }
  }
  &__pic {
    position: absolute;
    right: 0;
    top: 0;
    @media (max-width: 1840px) {
      display: none;
    }
  }
  &__btn {
    transition:  background 0.3s ease-in-out, border 0.3s ease-in-out, color 0.3s ease-in-out;
    &:focus-visible {
      background: $primary_light;
      border: 2px solid $primary_shade;
      color: $light-color;
    }
    &:hover {
      background-color: $primary;
      color: $light-color;
    }
    &:active {
      background-color: $primary_shade;
      color: $light-color;
      border-color: $primary_shade;
    }
    &--rating {
      @media (max-width: 450px) {
        padding: 12px 25px;
      }
    }
  }
}
