.categories {
  &__container {
    padding-top: 65px;
    padding-bottom: 68px;
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 32px;
  }
  &__item {
    padding: 30px;
    background: $grey-light;
    border-radius: 10px;
    &--1 {
      grid-column-start: 1;
      grid-column-end: 4;
    }
    &--2 {
      grid-column-start: 4;
      grid-column-end: 7;
    }
    &--3 {
      grid-column-start: 1;
      grid-column-end: 3;
    }
    &--4 {
      grid-column-start: 3;
      grid-column-end: 5;
    }
    &--5 {
      grid-column-start: 5;
      grid-column-end: 7;
    }
  }
  &__subtitle {
    margin-bottom: 30px;
  }
  &__bg {
    position: relative;
    margin-bottom: 32px;
    min-height: 306px;
    left: -30px;
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    &--1 {
      background-image: url(../../img/categories_sofa.png);
    }
    &--2 {
      background-image: url(../../img/categories_armchair.png);
    }
    &--3 {
      min-height: 202px;
      background-image: url(../../img/categories_bed.png);
    }
    &--4 {
      min-height: 202px;
      background-image: url(../../img/categories_dresser.png);
    }
    &--5 {
      min-height: 202px;
      background-image: url(../../img/categories_chair.png);
    }
  }
}
.catalog {
  display: flex;
  margin-bottom: 14px;
  &__item:not(:last-child) {
    margin-right: 22px;
  }
  &__link {
    color: $grey;
  }
}
