.details {
  &__descr-list {
    margin: 0;
  }
  &__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 14px;
  }
  &__key {
    position: relative;
    z-index: 5;
    width: min(100%, 20.25rem);
    margin-right: 0.25rem;
    color: $grey;
    @media (max-width: 1840px) {
      width: min(100%, 11.5rem);
    }
    &::after {
      content: "............................................................";
      position: absolute;
      display: block;
      width: 100%;
      z-index: -5;
      top: 0;
      left: 0;
      white-space: nowrap;
      overflow: hidden;
      letter-spacing: 2px;
    }
  }
  &__text {
    position: relative;
    color: $grey;
    z-index: 5;
  }
  &__value {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-inline-start: 0;
    width: min(100%, 13.5rem);
  }
}
