.swiper-hero {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  z-index: -5;
}
.swiper-pagination-bullet {
  width: 14px;
  height: 14px;
}

.swiper-pagination-bullet-active {
  background: $black;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 8px;
}

.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 20px;
}

.hero {
  &__container {
    position: relative;
    margin-top: 65px;
    width: 100%;
    height: 400px;
    z-index: 15;
    @media (max-width: 1024px) {
      margin-top: 32px;
    }
  }
  &__wrapper {
    padding: 84px $container-offset;
    height: 400px;
    z-index: 20;
    @media (max-width: 1840px) {
      padding: 82px $container-offset-1024;
    }
  }
  &__title {
    margin: 0;
    margin-bottom: 48px;
    font-weight: 700;
    font-size: 48px;
    line-height: 65px;
    color: $grey;
    &--white {
      color: $light-color;
    }
  }
  &__btn {
    padding: 22px 48px;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    color: $light-color;
    background: $primary;
    border-radius: 10px;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out, border 0.3s ease-in-out;
    &:focus {
      background: $primary_light;
      border: 2px solid $primary_shade;
    }
    &:hover {
      background: $primary_light;
    }
    &:active {
      background: $primary_shade;
    }
    &:disabled {
      background: $md_grey;
      color: $grey;
    }
  }
  &__slide {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    &--bg1 {
      background-image: url(../../img/slide_1.jpg);
      @media (max-width: 1840px) {
        background-image: url(../../img/slide_1_1024.png);
      }
    }
    &--bg2 {
      background-image: url(../../img/slide_2.jpg);
      @media (max-width: 1840px) {
        background-image: url(../../img/slide_2_1024.png);
      }
    }
    &--bg3 {
      background-image: url(../../img/slide_3.jpg);
      @media (max-width: 1840px) {
        background-image: url(../../img/slide_3_1024.png);
      }
    }
  }
}
