.high-rating {
  &__container {
    padding-top: 65px;
    padding-bottom: 66px;
  }
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
    margin-bottom: 34px;
  }
  &__btn {
    margin: 0 auto;
    background-color: $primary;
    color: $light-color;
    font-weight: 700;
    &:disabled {
      cursor: default;
      background-color: $grey_light;
      color: $grey;
      border: none;
    }
  }
}
