.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 100;
  background-color: rgba(0, 0, 0, .3);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  &--open {
    visibility: visible;
    opacity: 1;
  }
  &__box {
    position: relative;
    display: flex;
    margin-top: 181px;
    padding: 30px;
    max-width: 624px;
    // max-height: 421px;
    flex-direction: column;
    z-index: 1;
    background-color: $light-color;
    border-radius: 10px;
    @media (max-width: 765px) {
      margin-top: 460px;
      padding: 32px 14px;
    }
    &--success {
      padding: 118px 75px;
      justify-content: center;
      @media (max-width: 765px) {
        padding: 60px 51px;
      }
    }
    &--scale {
      padding: 0;
      max-width: 1280px;
      max-height: 750px;
      height: 80vh;
      overflow: auto;
      @media (max-width: 1840px) {
        max-width: 952px;
        min-height: 588px;
      }
      @media (max-width: 765px) {
        min-height: 286px;
      }
    }
  }
  &__close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 10;
    @media (max-width: 765px) {
      top: 16px;
      right: 16px;
    }
    &:hover .modal__img{
      fill: $primary;
    }
    &:focus .modal__img{
      fill: $primary-shade;
      background-color: $pink_violet;
    }
    &:active .modal__img{
      fill: $primary-shade;
      background-color: none;
    }
  }
  &__img {
    width: 20px;
    height: 20px;
    fill: $grey;
    @media (max-width: 765px) {
      width: 12px;
      height: 12px;
    }
  }
  &__pic {
    position: relative;
    display: inline-block;
    margin-bottom: 32px;
    width: 172px;
    height: 117px;
    @media (max-width: 765px) {
      margin-bottom: 14px;
      width: 73px;
      height: 50px;
      transform: 0;
    }
  }
  &__title {
    margin-bottom: 8px;
    &--success{
      @media (max-width: 765px) {
        text-align: center;
        font-size: 16px;
      }
    }
  }
  &__descr {
    margin: 0;
    margin-bottom: 30px;
    max-width: 65%;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    @media (max-width: 765px) {
      max-width: 100%;
      margin-bottom: 16px;
    }
  }
  &__input {
    @media (max-width: 765px) {
      margin-bottom: 16px;
    }
  }
  &__form-descr {
    @media (max-width: 765px) {
      padding-left: 18px;
    }
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &--scale {
      @media (max-width: 1008px) {
        max-width: 624px;
        // width: 80%;
      }
      @media (max-width: 765px) {
        max-width: 286px;
      }
    }
  }
}


