.swiper-offers {
  display: flex;
  width: 100%;
  overflow: hidden;
}
.swiper-button-prev,
.swiper-button-next{
	position: static;
}
.swiper-button-prev {
  margin-right: 13px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}
.swiper-button-next,
.swiper-button-prev {
  position: relative;
  width: 32px;
  height: 32px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border: 2px solid $primary;
  border-radius: 50%;
  background: none;
  z-index: 5;
  transition: background 0.3s ease-in-out, border-color 0.3s ease-in-out;
}
.swiper-button-next:focus,
.swiper-button-prev:focus {
  background: $primary_light;
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
  background: $primary;
}
.swiper-button-next:active,
.swiper-button-prev:active {
  background: $primary_shade;
}
.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  opacity: 1;
  border-color: $grey;
}
.swiper-button-prev.swiper-button-disabled::before,
.swiper-button-next.swiper-button-disabled::before {
  opacity: 1;
  border-color: $grey;
}
.swiper-button-next::before {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  top: 35%;
  bottom: 50%;
  right: 50%;
  left: 33%;
  border-bottom: 2px solid $primary;
  border-right: 2px solid $primary;
  transform: rotate(-45deg);
  z-index: 5;
  transition: border-color 0.3s ease-in-out;
}
.swiper-button-prev::before {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  top: 35%;
  bottom: 50%;
  right: 50%;
  left: 39%;
  border-top: 2px solid $primary;
  border-left: 2px solid $primary;
  transform: rotate(-45deg);
  z-index: 5;
  transition: border-color 0.3s ease-in-out;
}
.swiper-button-prev:focus::before,
.swiper-button-next:focus::before {
  border-color: $light-color
}
.swiper-button-prev:hover::before,
.swiper-button-next:hover::before {
  border-color: $light-color
}
.swiper-button-prev:active::before,
.swiper-button-next:active::before {
  border-color: $light-color
}

.offers {
  &__container {
    padding-top: 65px;
    @media (max-width: 1840px) {
      padding-top: 70px;
    }
    @media (max-width: 765px) {
      padding-top: 74px;
    }
  }
  &__card {
    min-height: 460px;
    padding-top: 68px;
    padding-bottom: 30px;
  }
  &__top {
    position: relative;
    display: flex;
    justify-content: space-between;
  }
  &__btn {
    display: flex;
    align-items: center;
    &--1920 {
      @media (max-width: 765px) {
        display: none;
      }
    }
    &--320 {
      display: none;
      margin-top: 35px;
      justify-content: center;
      @media (max-width: 765px) {
        display: flex;
      }
    }
  }
  &__swiper {
    width: 100%;
  }
  &__slide {
    width: 23.125%;
    height: 100%;
    @media (max-width: 1840px) {
      width: calc((100% - 60px) / 3);
    }
    &--big{
      width: 48.75%;
      @media (max-width: 1840px) {
        width: calc((100% - 60px) / 3);
      }
    }
  }
}

