.oxford {
  &__container {
    display: flex;
    min-height: 600px;
    padding-top: 154px;
    padding-bottom: 150px;
    flex-direction: column;
    align-items: start;
    background-image: url(../../img/bg_oxford.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @media (max-width: 1840px) {
      background-image: url(../../img/bg_oxford_1024.png);
    }
    @media (max-width: 1008px) {
      padding-right: 36px;
      padding-left: 36px;
      background-image: url(../../img/bg_oxford_768.png);
    }
    @media (max-width: 765px) {
      min-height: 302px;
      padding: 0;
      align-items: center;
      background-image: none;
    }
  }
  &__wrapper {
    width: 100%;
    height: 100%;
    margin-bottom: 52px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @media (max-width: 765px) {
      min-height: 212px;
      padding: 34px 12px;
      margin-bottom: 32px;
      background-image: url(../../img/bg_oxford_320.png);
    }
  }
  &__title {
    margin: 0;
    font-family: 'Playfair Display';
    font-weight: 900;
    font-size: 60px;
    line-height: 120%;
    color: $gold;
    @media (max-width: 765px) {
      font-size: 24px;
    }
  }
  &__descr {
    margin-bottom: 50px;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    color: $light-color;
    @media (max-width: 765px) {
      font-size: 16px;
    }
  }
  &__box {
    @media (max-width: 765px) {
      width: 100%;
      padding: 0 $container-offset-320;
    }

  }
  &__btn {
    text-align: center;
    &:focus {
      background: $primary_light;
      border: 2px solid $primary_shade;
    }
    &:hover {
      background: $primary_light;
    }
    &:active {
      background: $primary_shade;
    }
    &:disabled {
      background: $md_grey;
      color: $grey;
    }
  }
}
