.product-section {
  margin-bottom: 81px;
  @media (max-width: 1840px) {
    margin-bottom: 68px;
  }
  @media (max-width: 1008px) {
    margin-bottom: 32px;
  }
  &__container {
    @media (max-width: 765px) {
      margin-top: 32px;
    }
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
  }
  &__top {
    display: grid;
    margin-bottom: 27px;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 33px;
    row-gap: 10px;
    @media (max-width: 1840px) {
      grid-template-columns: 54% 46%;
      row-gap: 14px;
    }
    @media (max-width: 1008px) {
      margin-bottom: 32px;
      grid-template-columns: 30% 70%;
      row-gap: 32px;
    }
    @media (max-width: 765px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  &__images-large {
    overflow: hidden;
    @media (max-width: 1008px) {
      grid-column-start: 1;
      grid-column-end: 3;
    }
    @media (max-width: 765px) {
      grid-column-start: 1;
      grid-column-end: 2;
    }
  }
  &__images-small {
    display: flex;
    padding: 10px 25px;
    overflow: hidden;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: $grey_light;
    @media (max-width: 1008px) {
      grid-column-start: 1;
      grid-column-end: 2;
    }
    @media (max-width: 765px) {
      grid-column-start: 1;
      grid-column-end: 2;
    }
  }
  &__info {
    display: flex;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding-top: 14px;
    @media (max-width: 1840px) {
      padding-top: 18px;
    }
    @media (max-width: 1008px) {
      padding: 50px 0;
      grid-row-start: 2;
      grid-row-end: 3;
    }
    @media (max-width: 765px) {
      padding: 0;
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 3;
      grid-row-end: 4;
    }
  }
  &__bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 33px;
    @media (max-width: 1840px) {
      grid-template-columns: 54% 46%;
    }
    @media (max-width: 1008px) {
      grid-template-columns: repeat(1, 1fr);
      gap: 30px;
    }
  }
  &__rating {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: $secondary;
  }
  &__title {
    margin-bottom: 5px;
  }
  &__descr {
    display: inline-block;
    margin: 0;
    margin-bottom: 21px;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: $grey;
  }
  &__price {
    margin-bottom: 19px;
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    color: $black;
    @media (max-width: 765px) {
      font-size: 24px;
    }
  }
  &__btn {
    margin-bottom: 12px;
    &:focus {
      background: $primary_light;
      border: 2px solid $primary_shade;
    }
    &:hover {
      background: $primary_light;
    }
    &:active {
      background: $primary_shade;
    }
    &:disabled {
      background: $md_grey;
      color: $grey;
    }
    @media (max-width:765px) {
      width: 100%;
    }
  }
  &__link {
    margin-left: 30px;
    color: $primary;
    @media (max-width:765px) {
      width: 100%;
      margin-left: 0;
      text-align: center;
    }
  }
  &__picture {
    cursor: pointer;
  }
}

.swiper-large-images {
  &__item {
    display: flex;
    width: 100%;
    height: fit-content;
    justify-content: center;
    align-items: center;
    @media (max-width: 1008px) {
      justify-content: start;
    }
    @media (max-width: 765px) {
      justify-content: center;
    }
  }
  &__image {
    height: 100%;
    object-fit: cover
  }
}

.swiper-small-images {
  @media (max-width: 1008px) {
    height: 325px;
    width: 100%;
    margin: 0;
  }
  @media (max-width: 765px) {
    height: 81px;
  }
  &__picture {
    width: 100%;
  }
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto !important;
    @media (max-width: 1008px) {
      width: 100%;
    }
    &--mini {
      width: 15%;
    }
  }
}
