.product-section {
  margin-bottom: 81px;
  @media (max-width: 1840px) {
    margin-bottom: 68px;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
  }
  &__top {
    display: grid;
    margin-bottom: 27px;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 33px;
    row-gap: 10px;
    @media (max-width: 1840px) {
      grid-template-columns: 54% 46%;
      row-gap: 14px;
    }
  }
  &__images-large {
    overflow: hidden;
  }
  &__images-small {
    display: flex;
    padding: 10px 25px;
    overflow: hidden;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: $grey_light;
  }
  &__bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 33px;
    @media (max-width: 1840px) {
      grid-template-columns: 54% 46%;
    }
  }
  &__info {
    display: flex;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding-top: 14px;
    @media (max-width: 1840px) {
      padding-top: 18px;
    }
  }
  &__rating {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: $secondary;
  }
  &__title {
    margin-bottom: 5px;
  }
  &__descr {
    display: inline-block;
    margin: 0;
    margin-bottom: 21px;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: $grey;
  }
  &__price {
    margin-bottom: 19px;
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    color: $black;
  }
  &__btn {
    margin-bottom: 12px;
  }
  &__link {
    margin-left: 30px;
  }
  &__picture {
    cursor: pointer;
  }
}

.swiper-large-images {
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.swiper-small-images {
  &__item {
    display: flex;
    width: calc(((100% - 114px) - 15%)/ 3);
    justify-content: center;
    align-items: center;
    &--mini {
      width: 15%;
    }
  }
}
