.tabs {
  &__content {
    display: none;
    &--active {
      display: block;
    }
  }
  &__btn {
    width: 32px;
    height: 32px;
    color: $primary;
    font-weight: 600;
    font-size: 16px;
    border: 2px solid $primary;
    border-radius: 10px;
    background: none;
    z-index: 5;
    cursor: pointer;
    transition: background 0.3s ease-in-out, border-color 0.3s ease-in-out, color 0.3s ease-in-out;
    &--active {
      background: $primary_shade;
      border-color: $primary_shade;
      color: $light-color;
    }
    &:not(:last-child) {
      margin-right: 10px;
    }
    &:hover {
      background: $primary;
      color: $light-color;
    }
    &:active {
      background: $primary_shade;
      color: $light-color;
    }
  }
}
