.swiper-useful {
  display: flex;
  width: 100%;
  overflow: hidden;
}

.useful {
  padding-bottom: 64px;
  @media (max-width: 1840px) {
    padding-bottom: 72px;
  }
  @media (max-width: 765px) {
    padding-bottom: 69px;
  }
  &__container {
    @media (max-width: 765px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  &__top {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  &__btn {
    display: flex;
    align-items: top;
    &--1920 {
      @media (max-width: 765px) {
        display: none;
      }
    }
    &--320 {
      display: none;
      @media (max-width: 765px) {
        display: flex;
      }
    }
  }
  &__swiper {
    width: 100%;
    @media (max-width: 765px) {
      margin-bottom: 19px;
    }
  }
  &__slide {
    height: 100%;
  }
  &__card {
    padding: 460px 30px 30px 30px;
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    background-color: $grey_light;
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 100% 425px;
    border-radius: 10px;
    @media (max-width: 1840px) {
      padding-top: 234px;
      background-size: 100% 202px;
    }
    @media (max-width: 1008px) {
      padding-top: 230px;
    }
    @media (max-width: 765px) {
      padding-top: 233px;
    }
    &--img1 {
      background-image: url(../../img/useful_slide1.webp);
      @media (max-width: 1840px) {
        background-image: url(../../img/useful_slide1_1024.webp);
      }
      @media (max-width: 765px) {
        background-image: url(../../img/useful_slide1_320.webp);
      }
    }
    &--img2 {
      background-image: url(../../img/useful_slide2.webp);
      @media (max-width: 1840px) {
        background-image: url(../../img/useful_slide2_1024.webp);
      }
      @media (max-width: 765px) {
        background-image: url(../../img/useful_slide2_320.webp);
      }
    }
    &--img3 {
      background-image: url(../../img/useful_slide3.webp);
      @media (max-width: 1840px) {
        background-image: url(../../img/useful_slide3_1024.webp);
      }
      @media (max-width: 765px) {
        background-image: url(../../img/useful_slide3_320.webp);
      }
    }
    &--img4 {
      background-image: url(../../img/useful_slide4.webp);
      @media (max-width: 1840px) {
        background-image: url(../../img/useful_slide4_1024.webp);
      }
      @media (max-width: 765px) {
        background-image: url(../../img/useful_slide4_320.webp);
      }
    }
    &--img5 {
      background-image: url(../../img/useful_slide5.webp);
      @media (max-width: 1840px) {
        background-image: url(../../img/useful_slide5_1024.webp);
      }
      @media (max-width: 765px) {
        background-image: url(../../img/useful_slide5_320.webp);
      }
    }
  }
  &__descr {
    margin: 0;
    margin-bottom: 37px;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    @media (max-width: 1840px) {
      margin-bottom: 30px;
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
    }
  }
  &__button {
    padding: 16px 33px;
    transition: background 0.3s ease-in-out, border 0.3s ease-in-out, border-color 0.3s ease-in-out, color 0.3s ease-in-out;
    &:focus-visible {
      background: $primary_light;
      border: 2px solid $primary_shade;
      color: $light-color;
    }
    &:hover {
      background: $primary;
      color: $light-color;
    }
    &:active {
      background: $primary_shade;
      color: $light-color;
      border-color: $primary_shade;
    }
    &:disabled {
      background: $md_grey;
      color: $grey;
    }
  }
}
