.swiper-useful {
  display: flex;
  width: 100%;
  overflow: hidden;
}
.swiper2-button-prev {
  margin-right: 13px;
}

.swiper2-button-prev,
.swiper2-button-next {
	position: static;
}
.swiper2-button-prev::after,
.swiper2-button-next::after {
  display: none;
}
.swiper2-button-next,
.swiper2-button-prev {
  position: relative;
  width: 32px;
  height: 32px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border: 2px solid $primary;
  border-radius: 50%;
  background: none;
  z-index: 5;
  transition: background 0.3s ease-in-out, border-color 0.3s ease-in-out;
}
.swiper2-button-next:focus,
.swiper2-button-prev:focus {
  background: $primary_light;
}
.swiper2-button-next:hover,
.swiper2-button-prev:hover {
  background: $primary;
}
.swiper2-button-next:active,
.swiper2-button-prev:active {
  background: $primary_shade;
}
.swiper2-button-prev.swiper-button-disabled,
.swiper2-button-next.swiper-button-disabled {
  opacity: 1;
  border-color: $grey;
}
.swiper2-button-prev.swiper-button-disabled::before,
.swiper2-button-next.swiper-button-disabled::before {
  opacity: 1;
  border-color: $grey;
}
.swiper2-button-next::before {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  top: 35%;
  bottom: 50%;
  right: 50%;
  left: 33%;
  border-bottom: 2px solid $primary;
  border-right: 2px solid $primary;
  transform: rotate(-45deg);
  z-index: 5;
  transition: border-color 0.3s ease-in-out;
}
.swiper2-button-prev::before {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  top: 35%;
  bottom: 50%;
  right: 50%;
  left: 39%;
  border-top: 2px solid $primary;
  border-left: 2px solid $primary;
  transform: rotate(-45deg);
  z-index: 5;
  transition: border-color 0.3s ease-in-out;
}
.swiper2-button-prev:focus::before,
.swiper2-button-next:focus::before {
  border-color: $light-color
}
.swiper2-button-prev:hover::before,
.swiper2-button-next:hover::before {
  border-color: $light-color
}
.swiper2-button-prev:active::before,
.swiper2-button-next:active::before {
  border-color: $light-color
}
.swiper-wrapper {
  height: auto;
  box-sizing: border-box;
}
.swiper-slide {
  height: auto;
}

.useful {
  padding-bottom: 64px;
  @media (max-width: 1840px) {
    padding-bottom: 72px;
  }
  @media (max-width: 765px) {
    padding-bottom: 69px;
  }
  &__container {
    @media (max-width: 765px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  &__top {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  &__btn {
    display: flex;
    align-items: top;
    &--1920 {
      @media (max-width: 765px) {
        display: none;
      }
    }
    &--320 {
      display: none;
      @media (max-width: 765px) {
        display: flex;
      }
    }
  }
  &__swiper {
    width: 100%;
    @media (max-width: 765px) {
      margin-bottom: 19px;
    }
  }
  &__slide {
    height: 100%;
  }
  &__card {
    padding: 460px 30px 30px 30px;
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    background-color: $grey_light;
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 100% 425px;
    border-radius: 10px;
    @media (max-width: 1840px) {
      padding-top: 234px;
      background-size: 100% 202px;
    }
    @media (max-width: 1008px) {
      padding-top: 230px;
    }
    @media (max-width: 765px) {
      padding-top: 233px;
    }
    &--img1 {
      background-image: url(../../img/useful_slide1.jpg);
      @media (max-width: 1840px) {
        background-image: url(../../img/useful_slide1_1024.png);
      }
      @media (max-width: 765px) {
        background-image: url(../../img/useful_slide1_320.png);
      }
    }
    &--img2 {
      background-image: url(../../img/useful_slide2.jpg);
      @media (max-width: 1840px) {
        background-image: url(../../img/useful_slide2_1024.png);
      }
      @media (max-width: 765px) {
        background-image: url(../../img/useful_slide2_320.png);
      }
    }
    &--img3 {
      background-image: url(../../img/useful_slide3.jpg);
      @media (max-width: 1840px) {
        background-image: url(../../img/useful_slide3_1024.png);
      }
      @media (max-width: 765px) {
        background-image: url(../../img/useful_slide3_320.png);
      }
    }
    &--img4 {
      background-image: url(../../img/useful_slide4.jpg);
      @media (max-width: 1840px) {
        background-image: url(../../img/useful_slide4_1024.png);
      }
      @media (max-width: 765px) {
        background-image: url(../../img/useful_slide4_320.png);
      }
    }
    &--img5 {
      background-image: url(../../img/useful_slide5.jpg);
      @media (max-width: 1840px) {
        background-image: url(../../img/useful_slide5_1024.png);
      }
      @media (max-width: 765px) {
        background-image: url(../../img/useful_slide5_320.png);
      }
    }
  }
  &__descr {
    margin: 0;
    margin-bottom: 37px;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    @media (max-width: 1840px) {
      margin-bottom: 30px;
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
    }
  }
  &__button {
    padding: 16px 33px;
    transition: background 0.3s ease-in-out, border 0.3s ease-in-out, border-color 0.3s ease-in-out, color 0.3s ease-in-out;
    &:focus-visible {
      background: $primary_light;
      border: 2px solid $primary_shade;
      color: $light-color;
    }
    &:hover {
      background: $primary;
      color: $light-color;
    }
    &:active {
      background: $primary_shade;
      color: $light-color;
      border-color: $primary_shade;
    }
    &:disabled {
      background: $md_grey;
      color: $grey;
    }
  }
}
