<ul class="card card--rating list-reset">
  <li class="card__item card__item--rating">
    <span class="card__sticker card__sticker--rating">
      <img class="card__star" src="../img/star.svg" alt="Звезда рейтинга">
      5,0
    </span>
    <div class="card__top card__top--rating">
      <img src="../img/r-94.png" alt="Диван кожаный" class="card__img">
    </div>
    <div class="card__bottom card__bottom--rating">
      <h3 class="card__subtitle subtitle">
        Диван кожаный<br>&laquo;R-94&raquo;
      </h3>
      <div class="card__left">
        <div class="card__inner">
          <span class="card__price card__price--rating">94&nbsp;990 руб</span>
        </div>
        <a href="#" class="card__btn btn" target="_blank">Купить</a>
      </div>
    </div>
  </li>
  <li class="card__item card__item--rating">
    <span class="card__sticker card__sticker--rating">
      <img class="card__star" src="../img/star.svg" alt="Звезда рейтинга">
      4,9
    </span>
    <div class="card__top card__top--rating">
      <img src="../img/t-75.png" alt="Диван апартековый" class="card__img">
    </div>
    <div class="card__bottom card__bottom--rating">
      <h3 class="card__subtitle subtitle">
        Диван апартековый<br>&laquo;T-75&raquo;
      </h3>
      <div class="card__left">
        <div class="card__inner">
          <span class="card__price card__price--rating">69&nbsp;990 руб</span>
        </div>
        <a href="#" class="card__btn btn" target="_blank">Купить</a>
      </div>
    </div>
  </li>
  <li class="card__item card__item--rating">
    <span class="card__sticker card__sticker--rating">
      <img class="card__star" src="../img/star.svg" alt="Звезда рейтинга">
      4,8
    </span>
    <div class="card__top card__top--rating">
      <img src="../img/d-31.png" alt="Диван тканевый" class="card__img">
    </div>
    <div class="card__bottom card__bottom--rating">
      <h3 class="card__subtitle subtitle">
        Диван тканевый<br>&laquo;D-31&raquo;
      </h3>
      <div class="card__left">
        <div class="card__inner">
          <span class="card__price card__price--rating">28&nbsp;490 руб</span>
        </div>
        <a href="#" class="card__btn btn" target="_blank">Купить</a>
      </div>
    </div>
  </li>
  <li class="card__item card__item--rating">
    <span class="card__sticker card__sticker--rating">
      <img class="card__star" src="../img/star.svg" alt="Звезда рейтинга">
      4,8
    </span>
    <div class="card__top card__top--rating">
      <img src="../img/y-68.png" alt="Диван велюровый" class="card__img">
    </div>
    <div class="card__bottom card__bottom--rating">
      <h3 class="card__subtitle subtitle">
        Диван велюровый<br>&laquo;Y-68&raquo;
      </h3>
      <div class="card__left">
        <div class="card__inner">
          <span class="card__price card__price--rating">22&nbsp;990 руб</span>
        </div>
        <a href="#" class="card__btn btn" target="_blank">Купить</a>
      </div>
    </div>
  </li>
  <li class="card__item card__item--rating">
    <span class="card__sticker card__sticker--rating">
      <img class="card__star" src="../img/star.svg" alt="Звезда рейтинга">
      4,8
    </span>
    <div class="card__top card__top--rating">
      <img src="../img/w-95.png" alt="Диван из шинила" class="card__img">
    </div>
    <div class="card__bottom card__bottom--rating">
      <h3 class="card__subtitle subtitle">
        Диван из&nbsp;шинила<br>&laquo;W-95&raquo;
      </h3>
      <div class="card__left">
        <div class="card__inner">
          <span class="card__price card__price--rating">22&nbsp;990 руб</span>
        </div>
        <a href="#" class="card__btn btn" target="_blank">Купить</a>
      </div>
    </div>
  </li>
  <li class="card__item card__item--rating">
    <span class="card__sticker card__sticker--rating">
      <img class="card__star" src="../img/star.svg" alt="Звезда рейтинга">
      4,8
    </span>
    <div class="card__top card__top--rating">
      <img src="../img/g-41.png" alt="Диван флоковый" class="card__img">
    </div>
    <div class="card__bottom card__bottom--rating">
      <h3 class="card__subtitle subtitle">
        Диван флоковый<br>&laquo;G-41&raquo;
      </h3>
      <div class="card__left">
        <div class="card__inner">
          <span class="card__price card__price--rating">17 990 руб</span>
        </div>
        <a href="#" class="card__btn btn" target="_blank">Купить</a>
      </div>
    </div>
  </li>
  <li class="card__item card__item--rating">
    <span class="card__sticker card__sticker--rating">
      <img class="card__star" src="../img/star.svg" alt="Звезда рейтинга">
      4,8
    </span>
    <div class="card__top card__top--rating">
      <img src="../img/v-43.png" alt="Диван шиниловый" class="card__img">
    </div>
    <div class="card__bottom card__bottom--rating">
      <h3 class="card__subtitle subtitle">
        Диван шиниловый &laquo;V-43&raquo;
      </h3>
      <div class="card__left">
        <div class="card__inner">
          <span class="card__price card__price--rating">19&nbsp;990 руб</span>
        </div>
        <a href="#" class="card__btn btn" target="_blank">Купить</a>
      </div>
    </div>
  </li>
  <li class="card__item card__item--rating">
    <span class="card__sticker card__sticker--rating">
      <img class="card__star" src="../img/star.svg" alt="Звезда рейтинга">
      4,7
    </span>
    <div class="card__top card__top--rating">
      <img src="../img/s-99.png" alt="Диван велюровый" class="card__img">
    </div>
    <div class="card__bottom card__bottom--rating">
      <h3 class="card__subtitle subtitle">
        Диван велюровый<br>&laquo;S-99&raquo;
      </h3>
      <div class="card__left">
        <div class="card__inner">
          <span class="card__price card__price--rating">19&nbsp;990 руб</span>
        </div>
        <a href="#" class="card__btn btn" target="_blank">Купить</a>
      </div>
    </div>
  </li>
  <li class="card__item card__item--rating">
    <span class="card__sticker card__sticker--rating">
      <img class="card__star" src="../img/star.svg" alt="Звезда рейтинга">
      4,7
    </span>
    <div class="card__top card__top--rating">
      <img src="../img/f-85.png" alt="Диван из кожзама" class="card__img">
    </div>
    <div class="card__bottom card__bottom--rating">
      <h3 class="card__subtitle subtitle">
        Диван из&nbsp;кожзама<br>&laquo;F-85&raquo;
      </h3>
      <div class="card__left">
        <div class="card__inner">
          <span class="card__price card__price--rating">26&nbsp;990 руб</span>
        </div>
        <a href="#" class="card__btn btn" target="_blank">Купить</a>
      </div>
    </div>
  </li>
  <li class="card__item card__item--rating">
    <span class="card__sticker card__sticker--rating">
      <img class="card__star" src="../img/star.svg" alt="Звезда рейтинга">
      4,6
    </span>
    <div class="card__top card__top--rating">
      <img src="../img/h-64.png" alt="Диван флоковый" class="card__img">
    </div>
    <div class="card__bottom card__bottom--rating">
      <h3 class="card__subtitle subtitle">
        Диван флоковый<br>&laquo;H-64&raquo;
      </h3>
      <div class="card__left">
        <div class="card__inner">
          <span class="card__price card__price--rating">25&nbsp;990 руб</span>
        </div>
        <a href="#" class="card__btn btn" target="_blank">Купить</a>
      </div>
    </div>
  </li>
  <li class="card__item card__item--rating">
    <span class="card__sticker card__sticker--rating">
      <img class="card__star" src="../img/star.svg" alt="Звезда рейтинга">
      4,6
    </span>
    <div class="card__top card__top--rating">
      <img src="../img/h-58.png" alt="Диван флоковый" class="card__img">
    </div>
    <div class="card__bottom card__bottom--rating">
      <h3 class="card__subtitle subtitle">
        Диван флоковый<br>&laquo;H-58&raquo;
      </h3>
      <div class="card__left">
        <div class="card__inner">
          <span class="card__price card__price--rating">23&nbsp;990 руб</span>
        </div>
        <a href="#" class="card__btn btn" target="_blank">Купить</a>
      </div>
    </div>
  </li>
  <li class="card__item card__item--rating">
    <span class="card__sticker card__sticker--rating">
      <img class="card__star" src="../img/star.svg" alt="Звезда рейтинга">
      4,6
    </span>
    <div class="card__top card__top--rating">
      <img src="../img/r-43.png" alt="Диван из кожзама" class="card__img">
    </div>
    <div class="card__bottom card__bottom--rating">
      <h3 class="card__subtitle subtitle">
        Диван из&nbsp;кожзама<br>&laquo;R-43&raquo;
      </h3>
      <div class="card__left">
        <div class="card__inner">
          <span class="card__price card__price--rating">33&nbsp;990 руб</span>
        </div>
        <a href="#" class="card__btn btn" target="_blank">Купить</a>
      </div>
    </div>
  </li>
  <li class="card__item card__item--rating">
    <span class="card__sticker card__sticker--rating">
      <img class="card__star" src="../img/star.svg" alt="Звезда рейтинга">
      4,6
    </span>
    <div class="card__top card__top--rating">
      <img src="../img/c-42.png" alt="Диван из шинила" class="card__img">
    </div>
    <div class="card__bottom card__bottom--rating">
      <h3 class="card__subtitle subtitle">
        Диван из&nbsp;шинила<br>&laquo;С-42&raquo;
      </h3>
      <div class="card__left">
        <div class="card__inner">
          <span class="card__price card__price--rating">18&nbsp;990 руб</span>
        </div>
        <a href="#" class="card__btn btn" target="_blank">Купить</a>
      </div>
    </div>
  </li>
  <li class="card__item card__item--rating">
    <span class="card__sticker card__sticker--rating">
      <img class="card__star" src="../img/star.svg" alt="Звезда рейтинга">
      4,6
    </span>
    <div class="card__top card__top--rating">
      <img src="../img/u-58.png" alt="Диван велюровый" class="card__img">
    </div>
    <div class="card__bottom card__bottom--rating">
      <h3 class="card__subtitle subtitle">
        Диван велюровый<br>&laquo;U-58&raquo;
      </h3>
      <div class="card__left">
        <div class="card__inner">
          <span class="card__price card__price--rating">21&nbsp;990 руб</span>
        </div>
        <a href="#" class="card__btn btn" target="_blank">Купить</a>
      </div>
    </div>
  </li>
  <li class="card__item card__item--rating">
    <span class="card__sticker card__sticker--rating">
      <img class="card__star" src="../img/star.svg" alt="Звезда рейтинга">
      4,5
    </span>
    <div class="card__top card__top--rating">
      <img src="../img/f-41.png" alt="Диван велюровый" class="card__img">
    </div>
    <div class="card__bottom card__bottom--rating">
      <h3 class="card__subtitle subtitle">
        Диван флоковый<br>&laquo;F-41&raquo;
      </h3>
      <div class="card__left">
        <div class="card__inner">
          <span class="card__price card__price--rating">17&nbsp;990 руб</span>
        </div>
        <a href="#" class="card__btn btn" target="_blank">Купить</a>
      </div>
    </div>
  </li>
  <li class="card__item card__item--rating">
    <span class="card__sticker card__sticker--rating">
      <img class="card__star" src="../img/star.svg" alt="Звезда рейтинга">
      4,5
    </span>
    <div class="card__top card__top--rating">
      <img src="../img/r-85.png" alt="Диван флоковый" class="card__img">
    </div>
    <div class="card__bottom card__bottom--rating">
      <h3 class="card__subtitle subtitle">
        Диван велюровый<br>&laquo;R-85&raquo;
      </h3>
      <div class="card__left">
        <div class="card__inner">
          <span class="card__price card__price--rating">34&nbsp;990 руб</span>
        </div>
        <a href="#" class="card__btn btn">Купить</a>
      </div>
    </div>
  </li>
  <li class="card__item card__item--rating">
    <span class="card__sticker card__sticker--rating">
      <img class="card__star" src="../img/star.svg" alt="Звезда рейтинга">
      4,5
    </span>
    <div class="card__top card__top--rating">
      <img src="../img/s-44.png" alt="Диван велюровый" class="card__img">
    </div>
    <div class="card__bottom card__bottom--rating">
      <h3 class="card__subtitle subtitle">
        Диван велюровый<br>&laquo;S-44&raquo;
      </h3>
      <div class="card__left">
        <div class="card__inner">
          <span class="card__price card__price--rating">19&nbsp;990 руб</span>
        </div>
        <a href="#" class="card__btn btn" target="_blank">Купить</a>
      </div>
    </div>
  </li>
  <li class="card__item card__item--rating">
    <span class="card__sticker card__sticker--rating">
      <img class="card__star" src="../img/star.svg" alt="Звезда рейтинга">
      4,5
    </span>
    <div class="card__top card__top--rating">
      <img src="../img/c-80.png" alt="Диван из шинила" class="card__img">
    </div>
    <div class="card__bottom card__bottom--rating">
      <h3 class="card__subtitle subtitle">
        Диван из&nbsp;шинила<br>&laquo;С-80&raquo;
      </h3>
      <div class="card__left">
        <div class="card__inner">
          <span class="card__price card__price--rating">20&nbsp;990 руб</span>
        </div>
        <a href="#" class="card__btn btn" target="_blank">Купить</a>
      </div>
    </div>
  </li>
</ul>

