<li class="card tabs__content tabs__content--active tabs__content--active-mobile" data-tabs="first" data-tabs-mobile="first">
  <article class="card__content">
    <span class="card__sticker card__sticker--rating">
      <img class="card__star" src="../img/star.svg" alt="Звезда рейтинга">
      5,0
    </span>
    <div class="card__top card__top--rating">
      <picture>
        <source srcset="../img/r-94-320.webp" type="image/webp" media="(max-width: 450px)">
        <source srcset="../img/r-94.webp" type="image/webp">
        <img loading="lazy" src="../img/r-94.png" alt="Диван кожаный" class="card__img">
      </picture>
    </div>
    <div class="card__bottom card__bottom--rating">
      <div class="card__wrapper card__wrapper--rating">
        <h3 class="card__subtitle subtitle">
          Диван кожаный<br>&laquo;R-94&raquo;
        </h3>
        <div class="card__inner">
          <span class="card__price card__price--rating">94&nbsp;990 руб</span>
        </div>
      </div>
      <a href="#" class="card__btn card__btn--rating btn" target="_blank">Купить</a>
    </div>
  </article>
</li>
<li class="card tabs__content tabs__content--active tabs__content--active-mobile" data-tabs="first" data-tabs-mobile="first"">
  <article class="card__content">
    <span class="card__sticker card__sticker--rating">
      <img class="card__star" src="../img/star.svg" alt="Звезда рейтинга">
      4,9
    </span>
    <div class="card__top card__top--rating">
      <picture>
        <source srcset="../img/t-75-320.webp" type="image/webp" media="(max-width: 450px)">
        <source srcset="../img/t-75.webp" type="image/webp">
        <img loading="lazy" src="../img/t-75.png" alt="Диван апартековый" class="card__img">
      </picture>
    </div>
    <div class="card__bottom card__bottom--rating">
      <div class="card__wrapper card__wrapper--rating">
        <h3 class="card__subtitle subtitle">
          Диван апартековый<br>&laquo;T-75&raquo;
        </h3>
        <div class="card__inner">
          <span class="card__price card__price--rating">69&nbsp;990 руб</span>
        </div>
      </div>
      <a href="#" class="card__btn card__btn--rating btn" target="_blank">Купить</a>
    </div>
  </article>
</li>
<li class="card tabs__content tabs__content--active tabs__content--active-mobile" data-tabs="first" data-tabs-mobile="first">
  <article class="card__content">
    <span class="card__sticker card__sticker--rating">
      <img class="card__star" src="../img/star.svg" alt="Звезда рейтинга">
      4,8
    </span>
    <div class="card__top card__top--rating">
      <picture>
        <source srcset="../img/d-31-320.webp" type="image/webp" media="(max-width: 450px)">
        <source srcset="../img/d-31.webp" type="image/webp">
        <img loading="lazy" src="../img/d-31.png" alt="Диван тканевый" class="card__img">
      </picture>
    </div>
    <div class="card__bottom card__bottom--rating">
      <div class="card__wrapper card__wrapper--rating">
        <h3 class="card__subtitle subtitle">
          Диван тканевый<br>&laquo;D-31&raquo;
        </h3>
        <div class="card__inner">
          <span class="card__price card__price--rating">28&nbsp;490 руб</span>
        </div>
      </div>
      <a href="#" class="card__btn card__btn--rating btn" target="_blank">Купить</a>
    </div>
  </article>
</li>
<li class="card tabs__content tabs__content--active tabs__content--active-mobile" data-tabs="first" data-tabs-mobile="first">
  <article class="card__content">
    <span class="card__sticker card__sticker--rating">
      <img class="card__star" src="../img/star.svg" alt="Звезда рейтинга">
      4,8
    </span>
    <div class="card__top card__top--rating">
      <picture>
        <source srcset="../img/y-68-320.webp" type="image/webp" media="(max-width: 450px)">
        <source srcset="../img/y-68.webp" type="image/webp">
        <img loading="lazy" src="../img/y-68.png" alt="Диван велюровый" class="card__img">
      </picture>
    </div>
    <div class="card__bottom card__bottom--rating">
      <div class="card__wrapper card__wrapper--rating">
        <h3 class="card__subtitle subtitle">
          Диван велюровый<br>&laquo;Y-68&raquo;
        </h3>
        <div class="card__inner">
          <span class="card__price card__price--rating">22&nbsp;990 руб</span>
        </div>
      </div>
      <a href="#" class="card__btn card__btn--rating btn" target="_blank">Купить</a>
    </div>
  </article>
</li>
<li class="card tabs__content tabs__content--active tabs__content--active-mobile" data-tabs="first" data-tabs-mobile="first">
  <article class="card__content">
    <span class="card__sticker card__sticker--rating">
      <img class="card__star" src="../img/star.svg" alt="Звезда рейтинга">
      4,8
    </span>
    <div class="card__top card__top--rating">
      <picture>
        <source srcset="../img/w-95-320.webp" type="image/webp" media="(max-width: 450px)">
        <source srcset="../img/w-95.webp" type="image/webp">
        <img loading="lazy" src="../img/w-95.png" alt="Диван из шинила" class="card__img">
      </picture>
    </div>
    <div class="card__bottom card__bottom--rating">
      <div class="card__wrapper card__wrapper--rating">
        <h3 class="card__subtitle subtitle">
          Диван из&nbsp;шинила<br>&laquo;W-95&raquo;
        </h3>
        <div class="card__inner">
          <span class="card__price card__price--rating">22&nbsp;990 руб</span>
        </div>
      </div>
      <a href="#" class="card__btn card__btn--rating btn" target="_blank">Купить</a>
    </div>
  </article>
</li>
<li class="card tabs__content tabs__content--active tabs__content--active-mobile" data-tabs="first" data-tabs-mobile="first">
  <article class="card__content">
    <span class="card__sticker card__sticker--rating">
      <img class="card__star" src="../img/star.svg" alt="Звезда рейтинга">
      4,8
    </span>
    <div class="card__top card__top--rating">
      <picture>
        <source srcset="../img/g-41-320.webp" type="image/webp" media="(max-width: 450px)">
        <source srcset="../img/g-41.webp" type="image/webp">
        <img loading="lazy" src="../img/g-41.png" alt="Диван флоковый" class="card__img">
      </picture>
    </div>
    <div class="card__bottom card__bottom--rating">
      <div class="card__wrapper card__wrapper--rating">
        <h3 class="card__subtitle subtitle">
          Диван флоковый<br>&laquo;G-41&raquo;
        </h3>
        <div class="card__inner">
          <span class="card__price card__price--rating">17 990 руб</span>
        </div>
      </div>
      <a href="#" class="card__btn card__btn--rating btn" target="_blank">Купить</a>
    </div>
  </article>
</li>
<li class="card tabs__content tabs__content--active" data-tabs="first" data-tabs-mobile="second">
  <article class="card__content">
    <span class="card__sticker card__sticker--rating">
      <img class="card__star" src="../img/star.svg" alt="Звезда рейтинга">
      4,8
    </span>
    <div class="card__top card__top--rating">
      <picture>
        <source srcset="../img/v-43-320.webp" type="image/webp" media="(max-width: 450px)">
        <source srcset="../img/v-43.webp" type="image/webp">
        <img loading="lazy" src="../img/v-43.png" alt="Диван шиниловый" class="card__img">
      </picture>
    </div>
    <div class="card__bottom card__bottom--rating">
      <div class="card__wrapper card__wrapper--rating">
        <h3 class="card__subtitle subtitle">
          Диван шиниловый<br>&laquo;V-43&raquo;
        </h3>
        <div class="card__inner">
          <span class="card__price card__price--rating">19&nbsp;990 руб</span>
        </div>
      </div>
      <a href="#" class="card__btn card__btn--rating btn" target="_blank">Купить</a>
    </div>
  </article>
</li>
<li class="card tabs__content tabs__content--active" data-tabs="first" data-tabs-mobile="second">
  <article class="card__content">
    <span class="card__sticker card__sticker--rating">
      <img class="card__star" src="../img/star.svg" alt="Звезда рейтинга">
      4,7
    </span>
    <div class="card__top card__top--rating">
      <picture>
        <source srcset="../img/s-99-320.webp" type="image/webp" media="(max-width: 450px)">
        <source srcset="../img/s-99.webp" type="image/webp">
        <img loading="lazy" src="../img/s-99.png" alt="Диван велюровый" class="card__img">
      </picture>
    </div>
    <div class="card__bottom card__bottom--rating">
      <div class="card__wrapper card__wrapper--rating">
        <h3 class="card__subtitle subtitle">
          Диван велюровый<br>&laquo;S-99&raquo;
        </h3>
        <div class="card__inner">
          <span class="card__price card__price--rating">19&nbsp;990 руб</span>
        </div>
      </div>
      <a href="#" class="card__btn card__btn--rating btn" target="_blank">Купить</a>
    </div>
  </article>
</li>
<li class="card tabs__content tabs__content--active" data-tabs="first" data-tabs-mobile="second">
  <article class="card__content">
    <span class="card__sticker card__sticker--rating">
      <img class="card__star" src="../img/star.svg" alt="Звезда рейтинга">
      4,7
    </span>
    <div class="card__top card__top--rating">
      <picture>
        <source srcset="../img/f-85-320.webp" type="image/webp" media="(max-width: 450px)">
        <source srcset="../img/f-85.webp" type="image/webp">
        <img loading="lazy" src="../img/f-85.png" alt="Диван из кожзама" class="card__img">
      </picture>
    </div>
    <div class="card__bottom card__bottom--rating">
      <div class="card__wrapper card__wrapper--rating">
        <h3 class="card__subtitle subtitle">
          Диван из&nbsp;кожзама<br>&laquo;F-85&raquo;
        </h3>
        <div class="card__inner">
          <span class="card__price card__price--rating">26&nbsp;990 руб</span>
        </div>
      </div>
      <a href="#" class="card__btn card__btn--rating btn" target="_blank">Купить</a>
    </div>
  </article>
</li>
<li class="card tabs__content" data-tabs="second" data-tabs-mobile="second">
  <article class="card__content">
    <span class="card__sticker card__sticker--rating">
      <img class="card__star" src="../img/star.svg" alt="Звезда рейтинга">
      4,6
    </span>
    <div class="card__top card__top--rating">
      <picture>
        <source srcset="../img/h-64-320.webp" type="image/webp" media="(max-width: 450px)">
        <source srcset="../img/h-64.webp" type="image/webp">
        <img loading="lazy" src="../img/h-64.png" alt="Диван флоковый" class="card__img">
      </picture>
    </div>
    <div class="card__bottom card__bottom--rating">
      <div class="card__wrapper card__wrapper--rating">
        <h3 class="card__subtitle subtitle">
          Диван флоковый<br>&laquo;H-64&raquo;
        </h3>
        <div class="card__inner">
          <span class="card__price card__price--rating">25&nbsp;990 руб</span>
        </div>
      </div>
      <a href="#" class="card__btn card__btn--rating btn" target="_blank">Купить</a>
    </div>
  </article>
</li>
<li class="card tabs__content" data-tabs="second" data-tabs-mobile="second">
  <article class="card__content">
    <span class="card__sticker card__sticker--rating">
      <img class="card__star" src="../img/star.svg" alt="Звезда рейтинга">
      4,6
    </span>
    <div class="card__top card__top--rating">
      <picture>
        <source srcset="../img/h-58-320.webp" type="image/webp" media="(max-width: 450px)">
        <source srcset="../img/h-58.webp" type="image/webp">
        <img loading="lazy" src="../img/h-58.png" alt="Диван флоковый" class="card__img">
      </picture>
    </div>
    <div class="card__bottom card__bottom--rating">
      <div class="card__wrapper card__wrapper--rating">
        <h3 class="card__subtitle subtitle">
          Диван флоковый<br>&laquo;H-58&raquo;
        </h3>
        <div class="card__inner">
          <span class="card__price card__price--rating">23&nbsp;990 руб</span>
        </div>
      </div>
      <a href="#" class="card__btn card__btn--rating btn" target="_blank">Купить</a>
    </div>
  </article>
</li>
<li class="card tabs__content" data-tabs="second" data-tabs-mobile="second">
  <article class="card__content">
    <span class="card__sticker card__sticker--rating">
      <img class="card__star" src="../img/star.svg" alt="Звезда рейтинга">
      4,6
    </span>
    <div class="card__top card__top--rating">
      <picture>
        <source srcset="../img/r-43-320.webp" type="image/webp" media="(max-width: 450px)">
        <source srcset="../img/r-43.webp" type="image/webp">
        <img loading="lazy" src="../img/r-43.png" alt="Диван из кожзама" class="card__img">
      </picture>
    </div>
    <div class="card__bottom card__bottom--rating">
      <div class="card__wrapper card__wrapper--rating">
        <h3 class="card__subtitle subtitle">
          Диван из&nbsp;кожзама<br>&laquo;R-43&raquo;
        </h3>
        <div class="card__inner">
          <span class="card__price card__price--rating">33&nbsp;990 руб</span>
        </div>
      </div>
      <a href="#" class="card__btn card__btn--rating btn" target="_blank">Купить</a>
    </div>
  </article>
</li>
<li class="card tabs__content" data-tabs="second" data-tabs-mobile="third">
  <article class="card__content">
    <span class="card__sticker card__sticker--rating">
      <img class="card__star" src="../img/star.svg" alt="Звезда рейтинга">
      4,6
    </span>
    <div class="card__top card__top--rating">
      <picture>
        <source srcset="../img/c-42-320.webp" type="image/webp" media="(max-width: 450px)">
        <source srcset="../img/c-42.webp" type="image/webp">
        <img loading="lazy" src="../img/c-42.png" alt="Диван из шинила" class="card__img">
      </picture>
    </div>
    <div class="card__bottom card__bottom--rating">
      <div class="card__wrapper card__wrapper--rating">
        <h3 class="card__subtitle subtitle">
          Диван из&nbsp;шинила<br>&laquo;С-42&raquo;
        </h3>
        <div class="card__inner">
          <span class="card__price card__price--rating">18&nbsp;990 руб</span>
        </div>
      </div>
      <a href="#" class="card__btn card__btn--rating btn" target="_blank">Купить</a>
    </div>
  </article>
</li>
<li class="card tabs__content" data-tabs="second" data-tabs-mobile="third">
  <article class="card__content">
    <span class="card__sticker card__sticker--rating">
      <img class="card__star" src="../img/star.svg" alt="Звезда рейтинга">
      4,6
    </span>
    <div class="card__top card__top--rating">
      <picture>
        <source srcset="../img/u-58-320.webp" type="image/webp" media="(max-width: 450px)">
        <source srcset="../img/u-58.webp" type="image/webp">
        <img loading="lazy" src="../img/u-58.png" alt="Диван велюровый" class="card__img">
      </picture>
    </div>
    <div class="card__bottom card__bottom--rating">
      <div class="card__wrapper card__wrapper--rating">
        <h3 class="card__subtitle subtitle">
          Диван велюровый<br>&laquo;U-58&raquo;
        </h3>
        <div class="card__inner">
          <span class="card__price card__price--rating">21&nbsp;990 руб</span>
        </div>
      </div>
      <a href="#" class="card__btn card__btn--rating btn" target="_blank">Купить</a>
    </div>
  </article>
</li>
<li class="card tabs__content" data-tabs="second" data-tabs-mobile="third">
  <article class="card__content">
    <span class="card__sticker card__sticker--rating">
      <img class="card__star" src="../img/star.svg" alt="Звезда рейтинга">
      4,5
    </span>
    <div class="card__top card__top--rating">
      <picture>
        <source srcset="../img/f-41-320.webp" type="image/webp" media="(max-width: 450px)">
        <source srcset="../img/f-41.webp" type="image/webp">
        <img loading="lazy" src="../img/f-41.png" alt="Диван велюровый" class="card__img">
      </picture>
    </div>
    <div class="card__bottom card__bottom--rating">
      <div class="card__wrapper card__wrapper--rating">
        <h3 class="card__subtitle subtitle">
          Диван флоковый<br>&laquo;F-41&raquo;
        </h3>
        <div class="card__inner">
          <span class="card__price card__price--rating">17&nbsp;990 руб</span>
        </div>
      </div>
      <a href="#" class="card__btn card__btn--rating btn" target="_blank">Купить</a>
    </div>
  </article>
</li>
<li class="card tabs__content" data-tabs="second" data-tabs-mobile="third">
  <article class="card__content">
    <span class="card__sticker card__sticker--rating">
      <img class="card__star" src="../img/star.svg" alt="Звезда рейтинга">
      4,5
    </span>
    <div class="card__top card__top--rating">
      <picture>
        <source srcset="../img/r-85-320.webp" type="image/webp" media="(max-width: 450px)">
        <source srcset="../img/r-85.webp" type="image/webp">
        <img loading="lazy" src="../img/r-85.png" alt="Диван флоковый" class="card__img">
      </picture>
    </div>
    <div class="card__bottom card__bottom--rating">
      <div class="card__wrapper card__wrapper--rating">
        <h3 class="card__subtitle subtitle">
          Диван велюровый<br>&laquo;R-85&raquo;
        </h3>
        <div class="card__inner">
          <span class="card__price card__price--rating">34&nbsp;990 руб</span>
        </div>
      </div>
      <a href="#" class="card__btn card__btn--rating btn" target="_blank">Купить</a>
    </div>
  </article>
</li>
<li class="card tabs__content" data-tabs="second" data-tabs-mobile="third">
  <article class="card__content">
    <span class="card__sticker card__sticker--rating">
      <img class="card__star" src="../img/star.svg" alt="Звезда рейтинга">
      4,5
    </span>
    <div class="card__top card__top--rating">
      <picture>
        <source srcset="../img/s-44-320.webp" type="image/webp" media="(max-width: 450px)">
        <source srcset="../img/s-44.webp" type="image/webp">
        <img loading="lazy" src="../img/s-44.png" alt="Диван велюровый" class="card__img">
      </picture>
    </div>
    <div class="card__bottom card__bottom--rating">
      <div class="card__wrapper card__wrapper--rating">
        <h3 class="card__subtitle subtitle">
          Диван велюровый<br>&laquo;S-44&raquo;
        </h3>
        <div class="card__inner">
          <span class="card__price card__price--rating">19&nbsp;990 руб</span>
        </div>
      </div>
      <a href="#" class="card__btn card__btn--rating btn" target="_blank">Купить</a>
    </div>
  </article>
</li>
<li class="card tabs__content" data-tabs="second" data-tabs-mobile="third">
  <article class="card__content">
    <span class="card__sticker card__sticker--rating">
      <img class="card__star" src="../img/star.svg" alt="Звезда рейтинга">
      4,5
    </span>
    <div class="card__top card__top--rating">
      <picture>
        <source srcset="../img/c-80-320.webp" type="image/webp" media="(max-width: 450px)">
        <source srcset="../img/c-80.webp" type="image/webp">
        <img loading="lazy" src="../img/c-80.png" alt="Диван из шинила" class="card__img">
      </picture>
    </div>
    <div class="card__bottom card__bottom--rating">
      <div class="card__wrapper card__wrapper--rating">
        <h3 class="card__subtitle subtitle">
          Диван из&nbsp;шинила<br>&laquo;С-80&raquo;
        </h3>
        <div class="card__inner">
          <span class="card__price card__price--rating">20&nbsp;990 руб</span>
        </div>
      </div>
      <a href="#" class="card__btn card__btn--rating btn" target="_blank">Купить</a>
    </div>
  </article>
</li>

