<div class="container catalog-hero">
  <ol class="breadcrumbs breadcrumbs--catalog list-reset">
    <li class="breadcrumbs__item">
      <a href="#" class="breadcrumbs__link">
        Главная
      </a>
    </li>
    <li class="breadcrumbs__item">
      <a href="#" class="breadcrumbs__link">
        Каталог
      </a>
    </li>
    <li class="breadcrumbs__item">
      <a href="#" class="breadcrumbs__link">
        Диваны
      </a>
    </li>
    <li class="breadcrumbs__item">
      <a href="#" class="breadcrumbs__link">
        Прямые диваны
      </a>
    </li>
  </ol>
  <div class="catalog-hero__wrapper">
    <div class="catalog-hero__filters">
      @include('catalog-filters.html')
      @include('banner.html')
    </div>
    <div class="catalog-hero__container tabs">
      <h2 class="catalog-hero__title subtitle">
        Каталог
      </h2>
      <ul class="catalog-hero__list list-reset">
        @include('cards.html')
      </ul>
      <div class="catalog-hero__btn tabs__wrapper">
        <button class="tabs__btn tabs__btn--active" aria-label="Первая страница каталога" data-tabs-path="first">1</button>
        <button class="tabs__btn" aria-label="Вторая страница каталога" data-tabs-path="second">2</button>
      </div>
    </div>
  </div>
</div>

