<section class="categories">
  <div class="container categories__container">
    <h2 class="title categories__title">
      Топ категории
    </h2>
    <ul class="categories__list list-reset">
      <li class="categories__item categories__item--1">
        <div class="categories__wrapper">
          <ul class="list-reset categories__catalog catalog">
            <li class="catalog__item">
              <a href="#" class="catalog__link">Прямые</a>
            </li>
            <li class="catalog__item">
              <a href="#" class="catalog__link">Угловые</a>
            </li>
            <li class="catalog__item">
              <a href="#" class="catalog__link">Модульные</a>
            </li>
          </ul>
          <h3 class="subtitle subtitle--big categories__subtitle">
            Диваны
            <span class="categories__arrow arrow-link arrow-link--categories"></span>
          </h3>
        </div>
        <div class="categories__bg categories__bg--1">
        </div>
        <a href="#" class="arrow-link categories__link" target="_blank" aria-label="Навигационная ссылка на каталог">
          В каталог
        </a>
      </li>
      <li class="categories__item categories__item--2">
        <div class="categories__wrapper">
          <ul class="list-reset categories__catalog catalog catalog--mini">
            <li class="catalog__item">
              <a href="#" class="catalog__link catalog__link--mini" target="_blank" aria-label="Навигационная ссылка Мягкие кресла">Мягкие</a>
            </li>
            <li class="catalog__item">
              <a href="#" class="catalog__link catalog__link--mini" target="_blank" aria-label="Навигационная ссылка Кресла-кровати">Кресла-кровати</a>
            </li>
          </ul>
          <h3 class="subtitle categories__subtitle">
            Кресла
            <span class="categories__arrow arrow-link arrow-link--categories"></span>
          </h3>
        </div>
        <div class="categories__bg categories__bg--2">
        </div>
        <a href="#" class="arrow-link categories__link" target="_blank" aria-label="Навигационная ссылка на каталог">
          В каталог
        </a>
      </li>
      <li class="categories__item categories__item--3">
        <div class="categories__wrapper">
          <ul class="list-reset categories__catalog catalog catalog--mini">
            <li class="catalog__item">
              <a href="#" class="catalog__link catalog__link--mini" target="_blank" aria-label="Навигационная ссылка Кровати Односпальные">Односпальные</a>
            </li>
            <li class="catalog__item">
              <a href="#" class="catalog__link catalog__link--mini" target="_blank" aria-label="Навигационная ссылка Кровати Двуспальные">Двуспальные</a>
            </li>
          </ul>
          <h3 class="subtitle categories__subtitle">
            Кровати
            <span class="categories__arrow arrow-link arrow-link--categories"></span>
          </h3>
        </div>
        <div class="categories__bg categories__bg--3">
        </div>
        <a href="#" class="arrow-link categories__link" target="_blank" aria-label="Навигационная ссылка на каталог">
          В каталог
        </a>
      </li>
      <li class="categories__item categories__item--4">
        <div class="categories__wrapper">
          <ul class="list-reset categories__catalog catalog catalog--mini">
            <li class="catalog__item">
              <a href="#" class="catalog__link catalog__link--mini" target="_blank" aria-label="Навигационная ссылка Тумбы">Тумбы</a>
            </li>
            <li class="catalog__item">
              <a href="#" class="catalog__link catalog__link--mini" target="_blank" aria-label="Навигационная ссылка Кровати Комоды">Комоды</a>
            </li>
          </ul>
          <h3 class="subtitle categories__subtitle categories__subtitle--mini">
            Тумбы и комоды
            <span class="categories__arrow arrow-link arrow-link--categories"></span>
          </h3>
        </div>
        <div class="categories__bg categories__bg--4">
        </div>
        <a href="#" class="arrow-link categories__link" target="_blank" aria-label="Навигационная ссылка на каталог">
          В каталог
        </a>
      </li>
      <li class="categories__item categories__item--5">
        <div class="categories__wrapper">
          <ul class="list-reset categories__catalog catalog catalog--mini">
            <li class="catalog__item">
              <a href="#" class="catalog__link catalog__link--mini" target="_blank" aria-label="Навигационная ссылка Стулья Деревянные">Деревянные</a>
            </li>
            <li class="catalog__item">
              <a href="#" class="catalog__link catalog__link--mini" target="_blank" aria-label="Навигационная ссылка Кровати Металлокаркас">Металлокаркас</a>
            </li>
          </ul>
          <h3 class="subtitle categories__subtitle">
            Стулья
            <span class="categories__arrow arrow-link arrow-link--categories"></span>
          </h3>
        </div>
        <div class="categories__bg categories__bg--5">
        </div>
        <a href="#" class="arrow-link categories__link" target="_blank" aria-label="Навигационная ссылка на каталог">
          В каталог
        </a>
      </li>
    </ul>
  </div>
</section>
