<section class="container container--cooperation">
  <h2 class="subtitle subtitle--cooperation">
    Что вы&nbsp;получаете?
  </h2>
  <ul class="list-reset">
    <li class="descr cooperation-services__descr cooperation-services__descr--1">
      Мы&nbsp;ценим идеи и&nbsp;вдохновение и&nbsp;предлагаем сотрудничество талантливым дизайнерам и&nbsp;архитекторам. Выпускаемая нами продукция гармонично дополнит любой современный проект.
    </li>
    <li class="descr cooperation-services__descr cooperation-services__descr--2">
      Комплексное решение для красивого и функционального обустройства любых пространств.
    </li>
    <li class="descr cooperation-services__descr cooperation-services__descr--3">
      В ассортименте представлены все товарные группы для того, чтобы воссоздать обстановку в помещениях разных типов: кабинетах, смешанных пространствах, Open Space, гостевых и переговорных комнатах.
    </li>
  </ul>
</section>
