<section class="cooperation-hero">
  <div class="container container--cooperation">
    <ol class="breadcrumbs list-reset">
      <li class="breadcrumbs__item">
        <a href="#" class="breadcrumbs__link" target="_blank" aria-label="Навигационная ссылка Главная">
          Главная
        </a>
      </li>
      <li class="breabcrumbs__item">
        <a href="#" class="breadcrumbs__link" target="_blank" aria-label="Навигационная ссылка Сотрудничество">
          Сотрудничество
        </a>
      </li>
    </ol>
    <h1 class="cooperation-hero__title title">
      Сотрудничество
    </h1>
    <h2 class="subtitle subtitle--cooperation">
      Поставщикам
    </h2>
    <p class="cooperation-hero__descr descr">
      При планировании обстановки торгового помещения важно обустроить его с&nbsp;комфортом для покупателей: грамотно зонировать, обеспечить эффективную демонстрацию и&nbsp;хранение товаров в&nbsp;зале. Если вам необходимо комплексное оснащение, организация зоны отдыха или отдельные предметы меблировки для поддержания эффективной торговой деятельности, мы&nbsp;поможем выбрать продукцию с&nbsp;учетом нагрузки от&nbsp;поступающего трафика.
    </p>
  </div>
</section>
