<section class="container container--cooperation">
  <h2 class="subtitle subtitle--cooperation">
    Ваши преимущества от&nbsp;сотрудничества
  </h2>
  <ul class="list-reset">
    <li class="cooperation-plus__wrapper">
      <h3 class="cooperation-plus__caption">
        Возможность&nbsp;1:
      </h3>
      <p class="descr">
        Создавайте незабываемые впечатления. Красиво меблированная фотостудия не&nbsp;оставит клиентов равнодушными, а&nbsp;созданная интерьером атмосфера будет надолго запечатлена на&nbsp;их&nbsp;снимках. Стильная и&nbsp;разноплановая обстановка творческого пространства&nbsp;&mdash; ключевая составляющая его успешной деятельности. Позаботьтесь о&nbsp;людях в&nbsp;кадре, а&nbsp;мы&nbsp;поможем правильно выбрать мебель.
      </p>
    </li>
    <li class="cooperation-plus__wrapper">
      <h3 class="cooperation-plus__caption">
        Возможность&nbsp;2:
      </h3>
      <p class="descr">
        Мы предлагаем застройщикам, работающим на территории РФ, участие наших специалистов от этапа проектирования обстановки квартир и подбора комплексных интерьерных решений до оптовых поставок мебели. Поможем организовать демонстрационный зал с образцами изделий и материалов на площади нового здания, чтобы покупатель заблаговременно подобрал тот вариант меблировки, который удовлетворит даже самые взыскательные ожидания.    </p>
    </li>
  </ul>
</section>
