<dl>
  <div class="details__inner descr">
    <dt class="details__key">
      <span class="details__text">Гарантия</span>
    </dt>
    <dd class="details__value">
      18&nbsp;месяцев
    </dd>
  </div>
  <div class="details__inner descr">
    <dt class="details__key">
      <span class="details__text">Артикул</span>
    </dt>
    <dd class="details__value">
      AAA41269004
    </dd>
  </div>
  <div class="details__inner descr">
    <dt class="details__key">
      <span class="details__text">Длина</span>
    </dt>
    <dd class="details__value">
      163&nbsp;см
    </dd>
  </div>
  <div class="details__inner descr">
    <dt class="details__key">
      <span class="details__text">Высота</span>
    </dt>
    <dd class="details__value">
      90&nbsp;см
    </dd>
  </div>
  <div class="details__inner descr">
    <dt class="details__key">
      <span class="details__text">Глубина</span>
    </dt>
    <dd class="details__value">
      108&nbsp;см
    </dd>
  </div>
  <div class="details__inner descr">
    <dt class="details__key">
      <span class="details__text">Спальное место</span>
    </dt>
    <dd class="details__value">
      200&nbsp;см х&nbsp;125&nbsp;см
    </dd>
  </div>
  <div class="details__inner descr">
    <dt class="details__key">
      <span class="details__text">Высота посадки</span>
    </dt>
    <dd class="details__value">
      45 см
    </dd>
  </div>
  <div class="details__inner descr">
    <dt class="details__key">
      <span class="details__text">Механизм</span>
    </dt>
    <dd class="details__value">
      Опорный
    </dd>
  </div>
  <div class="details__inner descr">
    <dt class="details__key">
      <span class="details__text">Тип обивки</span>
    </dt>
    <dd class="details__value">
      Рогожка
    </dd>
  </div>
  <div class="details__inner descr">
    <dt class="details__key">
      <span class="details__text">Цвет</span>
    </dt>
    <dd class="details__value">
      Синий
    </dd>
  </div>
  <div class="details__inner descr">
    <dt class="details__key">
      <span class="details__text">Наполнитель</span>
    </dt>
    <dd class="details__value">
      Независимый пружинный блок
    </dd>
  </div>
  <div class="details__inner descr">
    <dt class="details__key">
      <span class="details__text">Материал каркаса</span>
    </dt>
    <dd class="details__value">
      Металл. рама с дерев. латами
    </dd>
  </div>
  <div class="details__inner descr">
    <dt class="details__key">
      <span class="details__text">Количество мест</span>
    </dt>
    <dd class="details__value">
      Двухместные
    </dd>
  </div>
  <div class="details__inner descr">
    <dt class="details__key">
      <span class="details__text">Категория</span>
    </dt>
    <dd class="details__value">
      Прямые тканевые диваны
    </dd>
  </div>
  <div class="details__inner descr">
    <dt class="details__key">
      <span class="details__text">Возврат</span>
    </dt>
    <dd class="details__value">
      Условия
    </dd>
  </div>
</dl>
