<section class="feedback">
  <div class="feedback__container container">
    <h2 class="title feedback__title">
      Мы всегда вам рады!
    </h2>
    <div class="feedback__wrapper">
      <div class="feedback__left">
        <p class="feedback__descr">
          Безусловно, новая модель организационной деятельности в&nbsp;значительной степени обусловливает важность распределения внутренних резервов и&nbsp;ресурсов.
          <button id="myButton" class="feedback__tooltip btn-reset"> ?
          </button>
        </p>
        <div class="feedback__form">
          @include('form.html')
        </div>
      </div>
      <div class="feedback__right">
      </div>
    </div>
  </div>
</section>
