<ul class="filters-320__list list-reset">
  <li class="filters-320__item">
    <div class="filters-320__select catalog-select">
      <button class="catalog-select__header btn-reset" type="button" aria-label="Кнопка фильтровать по категории">
        Категория
      </button>
      <div class="catalog-select__body">
        <form action="#" class="catalog-select__form form">
          <ul class="catalog-select__list list-reset">
            <li class="catalog-select__item">
              <label class="filters__label form__check">
                <input type="checkbox" class="filters__checkbox form__checkbox visually-hidden" name="category" value="Диваны" aria-label="Категория Диваны">
                <span class="filters__descr form__descr">Диваны</span>
              </label>
            </li>
            <li class="catalog-select__item">
              <label class="filters__label form__check">
                <input type="checkbox" class="filters__checkbox form__checkbox visually-hidden" name="category" value="Кресла"  aria-label="Категория Креслa">
                <span class="filters__descr form__descr">Кресла</span>
              </label>
            </li>
            <li class="catalog-select__item">
              <label class="filters__label form__check">
                <input type="checkbox" class="filters__checkbox form__checkbox visually-hidden" name="category" value="Пуфы" aria-label="Категория Пуфы">
                <span class="filters__descr form__descr">Пуфы</span>
              </label>
            </li>
            <li class="catalog-select__item">
              <label class="filters__label form__check">
                <input type="checkbox" class="filters__checkbox form__checkbox visually-hidden" name="category" value="Кровати" aria-label="Категория Кровати">
                <span class="filters__descr form__descr">Кровати</span>
              </label>
            </li>
            <li class="catalog-select__item">
              <label class="filters__label form__check">
                <input type="checkbox" class="filters__checkbox form__checkbox visually-hidden" name="category" value="Тумбы" aria-label="Категория Тумбы">
                <span class="filters__descr form__descr">Тумбы</span>
              </label>
            </li>
            <li class="catalog-select__item">
              <label class="filters__label form__check">
                <input type="checkbox" class="filters__checkbox form__checkbox visually-hidden" name="category" value="Комоды" aria-label="Категория Комоды">
                <span class="filters__descr form__descr">Комоды</span>
              </label>
            </li>
            <li class="catalog-select__item">
              <label class="filters__label form__check">
                <input type="checkbox" class="filters__checkbox form__checkbox visually-hidden" name="category" value="Стулья" aria-label="Категория Стулья">
                <span class="filters__descr form__descr">Стулья</span>
              </label>
            </li>
            <li class="catalog-select__item">
              <label class="filters__label form__check">
                <input type="checkbox" class="filters__checkbox form__checkbox visually-hidden" name="category" value="Столы" aria-label="Категория Столы">
                <span class="filters__descr form__descr">Столы</span>
              </label>
            </li>
            <li class="catalog-select__item">
              <label class="filters__label form__check">
                <input type="checkbox" class="filters__checkbox form__checkbox visually-hidden" name="category" value="Аксессуары" aria-label="Категория Аксессуары">
                <span class="filters__descr form__descr">Аксессуары</span>
              </label>
            </li>
          </ul>
        </form>
      </div>
    </div>
  </li>
  <li class="filters-320__item">
    <div class="filters-320__select catalog-select price">
      <button class="catalog-select__header btn-reset" type="button" aria-label="Кнопка фильтровать по цене">
        Цена
      </button>
      <div class="catalog-select__body">
        <form action="#" class="catalog-select__form">
          <ul class="catalog-select__list list-reset">
            <li class="catalog-select__item">
              <label class="price__label">
                <span class="price__text">от</span>
                <input type="number" min="2000" max="200000" placeholder="2000" class="price__input" id="input-0">
              </label>
            </li>
            <li class="catalog-select__item">
              <label class="price__label">
                <span class="price__text">до</span>
                <input type="number" min="2000" max="200000" placeholder="150000" class="price__input" id="input-1">
              </label>
            </li>
          </ul>
        </form>
      </div>
    </div>
  </li>

  <li class="filters-320__item">
    <div class="filters-320__select catalog-select">
      <button class="catalog-select__header btn-reset" type="button" aria-label="Кнопка фильтровать по скидке">
        Скидка
      </button>
      <div class="catalog-select__body">
        <form action="#" class="catalog-select__form">
          <ul class="catalog-select__list list-reset">
            <li class="catalog-select__item">
              <label class="filters__label form__check">
                <input type="checkbox" class="filters__checkbox form__checkbox visually-hidden" name="discount" value="5001" aria-label="Категория скидка более 5000">
                <span class="filters__descr form__descr">Более 5 000</span>
              </label>
            </li>
            <li class="catalog-select__item">
              <label class="filters__label form__check">
                <input type="checkbox" class="filters__checkbox form__checkbox visually-hidden" name="discount" value="5000" aria-label="Категория скидка менее 5000">
                <span class="filters__descr form__descr">Менее 5 000</span>
              </label>
            </li>
            <li class="catalog-select__item">
              <label class="filters__label form__check">
                <input type="checkbox" class="filters__checkbox form__checkbox visually-hidden" name="discount" value="Не важно" aria-label="Категория скидка не важна">
                <span class="filters__descr form__descr">Не важно</span>
              </label>
            </li>
          </ul>
        </form>
      </div>
    </div>
  </li>
  <li class="filters-320__item">
    <div class="filters-320__select catalog-select">
      <button class="catalog-select__header btn-reset" type="button" aria-label="Кнопка фильтровать по цвету">
        Цвет
      </button>
      <div class="catalog-select__body">
        <form action="#" class="catalog-select__form">
          <ul class="catalog-select__list list-reset">
            <li class="catalog-select__item">
              <label class="filters__label form__check">
                <input type="checkbox" class="filters__checkbox form__checkbox visually-hidden" name="color" value="Коричневый" aria-label="Категория коричневый цвет">
                <span class="filters__descr form__descr">Коричневый</span>
              </label>
            </li>
            <li class="catalog-select__item">
              <label class="filters__label form__check">
                <input type="checkbox" class="filters__checkbox form__checkbox visually-hidden" name="color" value="Черный" aria-label="Категория черный цвет">
                <span class="filters__descr form__descr">Черный</span>
              </label>
            </li>
            <li class="catalog-select__item">
              <label class="filters__label form__check">
                <input type="checkbox" class="filters__checkbox form__checkbox visually-hidden" name="color" value="Бежевый" aria-label="Категория бежевый цвет">
                <span class="filters__descr form__descr">Бежевый</span>
              </label>
            </li>
            <li class="catalog-select__item">
              <label class="filters__label form__check">
                <input type="checkbox" class="filters__checkbox form__checkbox visually-hidden" name="color" value="Серый" aria-label="Категория серый цвет">
                <span class="filters__descr form__descr">Серый</span>
              </label>
            </li>
            <li class="catalog-select__item">
              <label class="filters__label form__check">
                <input type="checkbox" class="filters__checkbox form__checkbox visually-hidden" name="color" value="Белый" aria-label="Категория белый цвет">
                <span class="filters__descr form__descr">Белый</span>
              </label>
            </li>
            <li class="catalog-select__item">
              <label class="filters__label form__check">
                <input type="checkbox" class="filters__checkbox form__checkbox visually-hidden" name="color" value="Синий" aria-label="Категория синий цвет">
                <span class="filters__descr form__descr">Синий</span>
              </label>
            </li>
            <li class="catalog-select__item">
              <label class="filters__label form__check">
                <input type="checkbox" class="filters__checkbox form__checkbox visually-hidden" name="color" value="Оранжевый" aria-label="Категория оранжевый цвет">
                <span class="filters__descr form__descr">Оранжевый</span>
              </label>
            </li>
            <li class="catalog-select__item">
              <label class="filters__label form__check">
                <input type="checkbox" class="filters__checkbox form__checkbox visually-hidden" name="color" value="Жёлтый" aria-label="Категория жёлтый цвет">
                <span class="filters__descr form__descr">Жёлтый</span>
              </label>
            </li>
            <li class="catalog-select__item">
              <label class="filters__label form__check">
                <input type="checkbox" class="filters__checkbox form__checkbox visually-hidden" name="color" value="Зеленый" aria-label="Категория зеленый цвет">
                <span class="filters__descr form__descr">Зеленый</span>
              </label>
            </li>
          </ul>
        </form>
      </div>
    </div>
  </li>
</ul>
