<form class="filters-320__form">
  <select name="category" id="category-select"  class="filters-320__select choices">
    <option value="">Категория</option>
    <option value="sofas">Диваны</option>
    <option value="armchairs">Кресла</option>
    <option value="puffs">Пуфы</option>
    <option value="beds">Кровати</option>
    <option value="cabinets">Тумбы</option>
    <option value="dressers">Комоды</option>
    <option value="chairs">Стулья</option>
    <option value="tables">Столы</option>
    <option value="accessories">Аксессуары</option>
  </select>
<!-- </form>
<form class="filters-320__select"> -->
  <select name="price" id="price-select"  class="filters-320__select choices">
    <option value="">Цена</option>
    <option value="2000">от 2000</option>
    <option value="10000">от 10000</option>
    <option value="50000">от 50000</option>
    <option value="10000">от 100000</option>
  </select>
<!-- </form>
<form class="filters-320__select"> -->
    <select name="discount" id="discount-select"  class="filters-320__select choices">
      <option value="">Скидка</option>
      <option value=">5000">Более 5000</option>
      <option value="<5000">Менее 5000</option>
      <option value="no matter">Не важно</option>
    </select>
<!-- </form>
<form class="filters-320__select"> -->
  <select name="color" id="color-select"  class="filters-320__select choices">
    <option value="">Цвет</option>
    <option value="2000">Коричневый</option>
    <option value="10000">Черный</option>
    <option value="50000">Бежевый</option>
    <option value="10000">Серый</option>
    <option value="10000">Белый</option>
    <option value="10000">Синий</option>
    <option value="10000">Оранжевый</option>
    <option value="10000">Желтый</option>
    <option value="10000">Зеленый</option>
  </select>
</form>
