<form action="POST" class="form">
  <div class="form__wrapper">
      <input type="text" class="form__input" name="name" placeholder="Как вас зовут?" id="name" aria-label="Поле ввода имени" required>
  </div>
  <div class="form__wrapper">
    <input type="tel" class="form__input" name="tel" placeholder="Ваш телефон" id="tel" aria-label="Поле ввода телефона" required>
  </div>
  <div class="form__wrapper">
      <input type="email" class="form__input" name="email" placeholder="Ваш e-mail" id="email" aria-label="Поле ввода электронной почты" required>
  </div>
  <div class="form__bottom">
    <button class="btn btn--primary form__btn btn-reset" aria-label="Кнопка Отправить">Отправить</button>
    <label for="checkbox" class="form__check">
      <input class="form__checkbox visually-hidden" type="checkbox" id="checkbox" aria-label="Кнопка Согласиться с пользовательским соглашением" required>
      <span class="form__descr">
        Принимаю
        <a href="#" class="form__link" target="_blank" aria-label="Ссылка на пользовательское соглашение">пользовательское соглашение</a>
      </span>
    </label>
  </div>
</form>

