<form action="POST" class="form">
  <div class="form__wrapper">
      <input type="text" class="form__input" name="name" placeholder="Как вас зовут?" id="name" required>
  </div>
  <div class="form__wrapper">
    <input type="tel" class="form__input" name="tel" placeholder="Ваш телефон" id="tel" required>
  </div>
  <div class="form__wrapper">
      <input type="email" class="form__input" name="email" placeholder="Ваш e-mail" id="email" required>
  </div>
  <div class="form__bottom">
    <button class="btn btn--primary form__btn btn-reset">Отправить</button>
    <label for="checkbox" class="form__check">
      <input class="form__checkbox visually-hidden"type="checkbox" id="checkbox" required>
      <span class="form__descr">
        Принимаю
        <a href="#" class="form__descr--link">пользовательское соглашение</a>
      </span>
    </label>
  </div>
</form>
