<header class="header">
  <div class="container header__container">
    <div class="header__top top">
      <div class="top__contacts">
        <form class="top__select">
          <label for="city-select">Ваш регион:</label>
          <select name="city" id="city-select"  class="top__select choices">
            <option value="moscow">Москва</option>
            <option value="kazan">Казань</option>
            <option value="ufa">Уфа</option>
            <option value="perm">Пермь</option>
          </select>
        </form>
        <span class="top__tel">
          <svg class="top__img">
            <use xlink:href="img/sprite.svg#call"></use>
          </svg>
          <a href=”tel:+74958854547”>+7 (495) 885-45-47</a>
        </span>
      </div>
      <div class="top__menu menu">
        <ul class="menu__list list-reset">
         <li class="menu__item">
          <a href="#" class="menu__link nav-desc">О&nbsp;компании</a>
        </li>
         <li class="menu__item">
          <a href="#" class="menu__link nav-desc">Гарантия и&nbsp;возврат</a>
        </li>
         <li class="menu__item">
          <a href="#" class="menu__link nav-desc">Корпоративным клиентам</a>
        </li>
         <li class="menu__item">
          <a href="#" class="menu__link nav-desc">Дизайн-решение</a>
        </li>
      </ul>
      </div>
    </div>
    <div class="header__center">
      <img src="../img/logo.svg" alt="Логотип" class="header__logo">
      <nav class="header__nav nav" title="">
        <ul class="nav__list list-reset">
          <li class="nav__item">
            <a href="#" class="nav__link">Каталог</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">Магазины</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">Шоу-рум</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">Доставка и оплата</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">Дисконт</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">Контакты</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="header__bottom bottom">
      <div class="bottom__wrapper">
        <form action="#" class="header__search search">
          <label class="search__label">
            <input type="search" name="Поиск" class="input-reset search__input" placeholder="Я хочу купить...">
            <svg class="search__pic">
              <use xlink:href="img/sprite.svg#search"></use>
            </svg>
          </label>
          <button class="btn-reset search__btn">
            <svg class="search__img">
              <use xlink:href="img/sprite.svg#arrow"></use>
            </svg>
          </button>
        </form>
        <form class="bottom__select">
          <select name="city" id="product-select"  class="bottom__select choices">
            <option value="">Категория</option>
            <option value="sofas">Диваны</option>
            <option value="armchairs">Кресла</option>
            <option value="puffs">Пуфы</option>
            <option value="beds">Кровати</option>
            <option value="cabinets">Тумбы</option>
            <option value="dressers">Комоды</option>
            <option value="chairs">Стулья</option>
            <option value="tables">Столы</option>
            <option value="accessories">Аксессуары</option>
          </select>
        </form>
      </div>
      <div class="bottom__right">
        <a href="#" class="bottom__link">
          <svg class="bottom__right bottom__right--use">
            <use xlink:href="img/sprite.svg#user"></use>
          </svg>
        </a>
        <a href="#" class="bottom__link">
          <span class="bottom__counter">0</span>
         <svg class="bottom__right bottom__right--cart">
           <use xlink:href="img/sprite.svg#shop_cart"></use>
         </svg>
        </a>
      </div>
    </div>
  </div>
</header>
