<section class="hero">
  <div class="container hero__container">
    <h1 class="visually-hidden">SitDownPls - мебельный мгазин</h1>
    <div class="swiper-hero hero__swiper">
      <div class="swiper-wrapper">
         <div class="swiper-slide hero__slide hero__slide--bg1">
          <div class="hero__wrapper">
            <h2 class="hero__title">
              Скидка 15%<br>на первую покупку
            </h2>
            <button class="hero__btn btn-reset" aria-label="Кнопка Получить">
              Получить!
            </button>
          </div>
         </div>
         <div class="swiper-slide hero__slide hero__slide--bg2">
          <div class="hero__wrapper">
            <h2 class="hero__title">
              1000+ аксессуаров<br>для дома
            </h2>
            <button class="hero__btn btn-reset" aria-label="Кнопка Подробнее">
              Подробнее
            </button>
          </div>
        </div>
        <div class="swiper-slide hero__slide hero__slide--bg3">
          <div class="hero__wrapper">
            <h2 class="hero__title hero__title--white">
              Коллекция стильного<br>и яркого текстиля
            </h2>
            <button class="hero__btn btn-reset" aria-label="Кнопка Подробнее">
              Подробнее
            </button>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
    <button class="btn btn--primary btn--320 hero__btn-320 btn-reset" aria-label="Кнопка Получить">Получить</button>
  </div>
</section>
