<section class="modal modal--scale modal--open"  id="modal-scale">
  <div class="container modal__container">
    <div class="modal__box modal__box--scale">
      <button class="modal__close btn-reset" id="modal-scale-close">
        <svg class="modal__img">
          <use xlink:href="img/sprite.svg#exit"></use>
        </svg>
      </button>
      <div class="modal__wrapper">
        <div class="swiper card-slider">
          <div class="swiper-wrapper">
            <div class="swiper-slide card-slider__item">
              <img class="card-slider__img" src="../img/D-31-maxi.png" alt="Фото дивана D-31">
            </div>
            <div class="swiper-slide card-slider__item">
              <img class="card-slider__img card-slider__img--1" src="../img/D-31-maxi-1.png" alt="Фото дивана D-31">
            </div>
            <div class="swiper-slide card-slider__item">
              <img class="card-slider__img card-slider__img--2" src="../img/D-31-maxi-2.png" alt="Фото дивана D-31">
            </div>
            <div class="swiper-slide card-slider__item">
              <img class="card-slider__img card-slider__img--3" src="../img/D-31-maxi-3.png" alt="Фото дивана D-31">
            </div>
            <div class="swiper-slide card-slider__item">
              <img class="card-slider__img card-slider__img--4" src="../img/D-31-maxi-4.png" alt="Фото дивана D-31">
            </div>
          </div>
        </div>
        <div class="swiper card-slider-nav">
          <div class="swiper-wrapper">
            <div class="swiper-slide card-slider-nav__item">
              <img class="card-slider-nav__img card-slider-nav__img--0" src="../img/D-31-maxi.png" alt="Фото дивана D-31">
            </div>
            <div class="swiper-slide card-slider-nav__item">
              <img class="card-slider-nav__img" src="../img/D-31-maxi-1.png" alt="Фото дивана D-31">
            </div>
            <div class="swiper-slide card-slider-nav__item">
              <img class="card-slider-nav__img" src="../img/D-31-maxi-2.png" alt="Фото дивана D-31">
            </div>
            <div class="swiper-slide card-slider-nav__item">
              <img class="card-slider-nav__img" src="../img/D-31-maxi-3.png" alt="Фото дивана D-31">
            </div>
            <div class="swiper-slide card-slider-nav__item">
              <img class="card-slider-nav__img" src="../img/D-31-maxi-4.png" alt="Фото дивана D-31">
            </div>
          </div>
        </div>
      </div>
  </div>
</section>
