<section class="modal modal--scale"  id="modal-scale">
  <div class="container modal__container">
    <div class="modal__box modal__box--scale">
      <button class="modal__close btn-reset" id="modal-scale-close" aria-label="Кнопка Закрыть модальное окно">
        <svg class="modal__img">
          <use xlink:href="img/sprite.svg#exit"></use>
        </svg>
      </button>
      <div class="modal__wrapper modal__wrapper--scale">
        <div class="swiper modal-slider">
          <div class="swiper-wrapper">
            <div class="swiper-slide modal-slider__item">
              <picture class="modal-slider__picture">
                <source srcset="../img/D-31-maxi-1-1024.webp" type="image/webp" media="(max-width: 1840px)">
                <source srcset="../img/D-31-maxi-1.webp" type="image/webp">
                <img class="modal-slider__img" src="../img/D-31-maxi-1.png" alt="Первое большое изображение дивана D-31">
              </picture>
            </div>
            <div class="swiper-slide modal-slider__item">
              <picture class="modal-slider__picture">
                <source srcset="../img/D-31-maxi-2-1024.webp" type="image/webp" media="(max-width: 1840px)">
                <source srcset="../img/D-31-maxi-2.webp" type="image/webp">
                <img class="modal-slider__img modal-slider__img--2" src="../img/D-31-maxi-2.png" alt="Второе большое изображение дивана D-31">
              </picture>
            </div>
            <div class="swiper-slide modal-slider__item">
              <picture class="modal-slider__picture">
                <source srcset="../img/D-31-maxi-3-1024.webp" type="image/webp" media="(max-width: 1840px)">
                <source srcset="../img/D-31-maxi-3.webp" type="image/webp">
                <img class="modal-slider__img modal-slider__img--3" src="../img/D-31-maxi-3.png" alt="Третье большое изображение дивана D-31">
              </picture>
            </div>
            <div class="swiper-slide modal-slider__item">
              <picture class="modal-slider__picture">
                <!-- <source srcset="../img/D-31-maxi-4-1024.webp" type="image/webp" media="(max-width: 1840px)"> -->
                <source srcset="../img/D-31-maxi-4.webp" type="image/webp">
                <img class="modal-slider__img modal-slider__img--4" src="../img/D-31-maxi-4.png" alt="Четвертое большое изображение дивана D-31">
              </picture>
            </div>
            <div class="swiper-slide modal-slider__item">
              <picture class="modal-slider__picture">
                <!-- <source srcset="../img/D-31-maxi-5-1024.webp" type="image/webp" media="(max-width: 1840px)"> -->
                <source srcset="../img/D-31-maxi-5.webp" type="image/webp">
                <img class="modal-slider__img modal-slider__img--5" src="../img/D-31-maxi-5.png" alt="Пятое большое изображение дивана D-31">
              </picture>
            </div>
        </div>
        </div>
        <div class="swiper modal-slider-nav">
          <div class="swiper-wrapper modal-slider-nav__wrapper">
            <div class="swiper-slide modal-slider-nav__item">
              <picture class="modal-slider-nav__picture">
                <source srcset="../img/D-31-maxi-1.webp" type="image/webp">
                <img class="modal-slider-nav__img" src="../img/D-31-maxi-1.png" alt="Первое маленькое изображение дивана D-31">
              </picture>
            </div>
            <div class="swiper-slide modal-slider-nav__item">
              <picture class="modal-slider-nav__picture">
                <source srcset="../img/D-31-maxi-2.webp" type="image/webp">
                <img class="modal-slider-nav__img" src="../img/D-31-maxi-2.png" alt="Второе маленькое изображение дивана D-31">
              </picture>
            </div>
            <div class="swiper-slide modal-slider-nav__item">
              <picture class="modal-slider-nav__picture">
                <source srcset="../img/D-31-maxi-3.webp" type="image/webp">
                <img class="modal-slider-nav__img" src="../img/D-31-maxi-3.png" alt="Третье маленькое изображение дивана D-31">
              </picture>
            </div>
            <div class="swiper-slide modal-slider-nav__item">
              <picture class="modal-slider-nav__picture">
                <source srcset="../img/D-31-maxi-4.webp" type="image/webp">
                <img class="modal-slider-nav__img" src="../img/D-31-maxi-4.png" alt="Четвертое маленькое изображение дивана D-31">
              </picture>
            </div>
            <div class="swiper-slide modal-slider-nav__item">
              <picture class="modal-slider-nav__picture">
                <source srcset="../img/D-31-maxi-5.webp" type="image/webp">
                <img class="modal-slider-nav__img" src="../img/D-31-maxi-5.png" alt="Пятое маленькое изображение дивана D-31">
              </picture>
            </div>
          </div>
          <div class="modal-slider-nav__btn-wrapper">
            <button class="swiper-button-prev modal-slider-nav__btn-left"></button>
            <button class="swiper-button-next modal-slider-nav__btn-right"></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
