<section class="modal"  id="modal-success">
  <div class="container modale-one-click__container">
    <div class="modal__box modal__box--success">
      <button class="modal__close btn-reset">
        <svg class="modal__img" id="modal-success-close">
          <use xlink:href="img/sprite.svg#exit"></use>
        </svg>
      </button>
      <div class="modal__wrapper">
        <img src="../img/elephant.svg" alt="Логотип компании" class="modal__pic modal__pic--success">
        <h2 class="modal__title modal__title--success title">
          Спасибо, мы вам перезвоним!
        </h2>
      </div>
  </div>
</section>
