<section class="offers">
  <div class="container offers__container">
    <div class="offers__top">
      <h2 class="title offers__title">
        Специальные предложения
      </h2>
      <div class="offers__btn">
				<button class="swiper-button-prev"></button>
				<button class="swiper-button-next"></button>
			</div>
    </div>
    <div class="swiper-offers offers__swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide offers__slide card">
          <div class="offers__card card__item">
            <span class="card__sticker">
              -9&nbsp;000
            </span>
            <div class="card__top">
              <img src="../img/x-24.png" alt="Кресло велюровое" class="card__img">
            </div>
            <div class="card__bottom">
              <div class="card__wrapper">
                <h3 class="card__subtitle subtitle">
                  Кресло велюровое<br>&laquo;X-24&raquo;
                </h3>
                <div class="card__inner">
                  <span class="card__price">15&nbsp;990 руб</span>
                  <span class="card__price card__price--old">24&nbsp;990 руб</span>
                </div>
              </div>
              <a href="#" class="card__btn btn">Купить</a>
            </div>
          </div>
        </div>
        <div class="swiper-slide offers__slide offers__slide--big card">
          <div class="offers__card card__item">
            <span class="card__sticker">
             -10&nbsp;000
            </span>
            <div class="card__top">
              <img src="../img/z-44.png" alt="Диван тканевый" class="card__img">
            </div>
            <div class="card__bottom">
              <div class="card__wrapper">
                <h3 class="card__subtitle subtitle">
                  Диван тканевый<br>&laquo;Z-44&raquo;
                </h3>
                <div class="card__inner">
                  <span class="card__price">22&nbsp;990 руб</span>
                  <span class="card__price card__price--old">32&nbsp;990 руб</span>
                  <img class="card__pic" src="../img/cot.svg" alt="Схема раскладки дивана">
                </div>
              </div>
              <a href="#" class="card__btn btn">Купить</a>
            </div>
          </div>
        </div>
        <div class="swiper-slide offers__slide card">
          <div class="offers__card card__item">
            <span class="card__sticker">
            -600
            </span>
            <div class="card__top">
              <img src="../img/quartz-23.png" alt="Будильник" class="card__img">
            </div>
            <div class="card__bottom">
              <div class="card__wrapper">
                <h3 class="card__subtitle subtitle">
                  Будильник<br>&laquo;Quartz-23&raquo;
                </h3>
                <div class="card__inner">
                  <span class="card__price">1&nbsp;290 руб</span>
                  <span class="card__price card__price--old">1&nbsp;890 руб</span>
                </div>
              </div>
              <a href="#" class="card__btn btn">Купить</a>
            </div>
          </div>
        </div>
        <div class="swiper-slide offers__slide card">
          <div class="offers__card card__item">
            <span class="card__sticker">
              -300
            </span>
            <div class="card__top">
              <img src="../img/dear.png" alt="Мини-скульптура Олень" class="card__img">
            </div>
            <div class="card__bottom">
              <div class="card__wrapper">
                <h3 class="card__subtitle subtitle">
                  Мини-скульптура<br> &laquo;Oh&nbsp;my&nbsp;deer&raquo;
                </h3>
                <div class="card__inner">
                  <span class="card__price">690 руб</span>
                  <span class="card__price card__price--old">990 руб</span>
                </div>
              </div>
              <a href="#" class="card__btn btn">Купить</a>
            </div>
          </div>
        </div>
        <div class="swiper-slide offers__slide offers__slide--big card">
          <div class="offers__card card__item">
            <span class="card__sticker">
             -10&nbsp;000
            </span>
            <div class="card__top">
              <img src="../img/z-85.png" alt="Диван вел-флок" class="card__img">
            </div>
            <div class="card__bottom">
              <div class="card__wrapper">
                <h3 class="card__subtitle subtitle">
                  Диван вел-флок<br>&laquo;Z-85&raquo;
                </h3>
                <div class="card__inner">
                  <span class="card__price">22&nbsp;990 руб</span>
                  <span class="card__price card__price--old">32&nbsp;990 руб</span>
                  <img class="card__pic" src="../img/tic-tac.svg" alt="Схема раскладки дивана">
                </div>
              </div>
              <a href="#" class="card__btn btn">Купить</a>
            </div>
          </div>
        </div>
        <div class="swiper-slide offers__slide card">
          <div class="offers__card card__item">
            <span class="card__sticker">
            -700
            </span>
            <div class="card__top">
              <img src="../img/thermometer.png" alt="Термометр" class="card__img">
            </div>
            <div class="card__bottom">
              <div class="card__wrapper">
                <h3 class="card__subtitle subtitle">
                  Термометр + гидрометр &laquo;H-18&raquo;
                </h3>
                <div class="card__inner">
                  <span class="card__price">1&nbsp;390 руб</span>
                  <span class="card__price card__price--old">2&nbsp;090 руб</span>
                </div>
              </div>
              <a href="#" class="card__btn btn">Купить</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
