<section class="product-similar">
  <div class="container product-similar__container">
    <div class="product-similar__top">
      <h2 class="subtitle product-similar__title">
        Похожие товары
      </h2>
      <div class="product-similar__btn">
				<button class="swiper-button-prev"></button>
				<button class="swiper-button-next"></button>
			</div>
    </div>
    <div class="swiper-offers offers__swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide offers__slide card">
          <article class="card__content">
            <span class="card__sticker card__sticker--rating">
              <img class="card__star" src="../img/star.svg" alt="Звезда рейтинга">
              4,5
            </span>
            <div class="card__top card__top--rating">
              <img src="../img/r-85.png" alt="Диван велюровый" class="card__img">
            </div>
            <div class="card__bottom card__bottom--rating">
              <h3 class="card__subtitle subtitle">
                Диван велюровый<br>&laquo;R-85&raquo;
              </h3>
              <div class="card__left">
                <div class="card__inner">
                  <span class="card__price card__price--rating">34&nbsp;990 руб</span>
                </div>
                <a href="#" class="card__btn btn" target="_blank">Купить</a>
              </div>
            </div>
          </article>
        </div>
        <div class="swiper-slide offers__slide card">
          <article class="card__content">
            <span class="card__sticker card__sticker--rating">
              <img class="card__star" src="../img/star.svg" alt="Звезда рейтинга">
              4,6
            </span>
            <div class="card__top card__top--rating">
              <img src="../img/h-58.png" alt="Диван флоковый" class="card__img">
            </div>
            <div class="card__bottom card__bottom--rating">
              <h3 class="card__subtitle subtitle">
                Диван флоковый<br>&laquo;H-58&raquo;
              </h3>
              <div class="card__left">
                <div class="card__inner">
                  <span class="card__price card__price--rating">23&nbsp;990 руб</span>
                </div>
                <a href="#" class="card__btn btn" target="_blank">Купить</a>
              </div>
            </div>
          </article>
        </div>
        <div class="swiper-slide offers__slide card">
          <article class="card__content">
            <span class="card__sticker card__sticker--rating">
              <img class="card__star" src="../img/star.svg" alt="Звезда рейтинга">
              4,5
            </span>
            <div class="card__top card__top--rating">
              <img src="../img/s-44.png" alt="Диван велюровый" class="card__img">
            </div>
            <div class="card__bottom card__bottom--rating">
              <h3 class="card__subtitle subtitle">
                Диван велюровый<br>&laquo;S-44&raquo;
              </h3>
              <div class="card__left">
                <div class="card__inner">
                  <span class="card__price card__price--rating">19&nbsp;990 руб</span>
                </div>
                <a href="#" class="card__btn btn" target="_blank">Купить</a>
              </div>
            </div>
          </article>
        </div>
        <div class="swiper-slide offers__slide card">
          <article class="card__content">
            <span class="card__sticker card__sticker--rating">
              <img class="card__star" src="../img/star.svg" alt="Звезда рейтинга">
              4,8
            </span>
            <div class="card__top card__top--rating">
              <img src="../img/v-43.png" alt="Диван шиниловый" class="card__img">
            </div>
            <div class="card__bottom card__bottom--rating">
              <h3 class="card__subtitle subtitle">
                Диван шиниловый<br>&laquo;V-43&raquo;
              </h3>
              <div class="card__left">
                <div class="card__inner">
                  <span class="card__price card__price--rating">19&nbsp;990 руб</span>
                </div>
                <a href="#" class="card__btn btn" target="_blank">Купить</a>
              </div>
            </div>
          </article>
        </div>
        <div class="swiper-slide offers__slide card">
          <article class="card__content">
            <span class="card__sticker card__sticker--rating">
              <img class="card__star" src="../img/star.svg" alt="Звезда рейтинга">
              4,8
            </span>
            <div class="card__top card__top--rating">
              <img src="../img/g-41.png" alt="Диван флоковый" class="card__img">
            </div>
            <div class="card__bottom card__bottom--rating">
              <h3 class="card__subtitle subtitle">
                Диван флоковый<br>&laquo;G-41&raquo;
              </h3>
              <div class="card__left">
                <div class="card__inner">
                  <span class="card__price card__price--rating">17&nbsp;990 руб</span>
                </div>
                <a href="#" class="card__btn btn" target="_blank">Купить</a>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>
