<section class="product-similar">
  <div class="container product-similar__container">
    <div class="product-similar__top">
      <h2 class="subtitle product-similar__title">
        Похожие товары
      </h2>
      <div class="product-similar__btn product-similar__btn--1920">
				<button class="swiper-button-prev"></button>
				<button class="swiper-button-next"></button>
			</div>
    </div>
    <div class="swiper-product-similar product-similar__swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide product-similar__slide card">
          <article class="card__content">
            <span class="card__sticker card__sticker--rating card__sticker--similar">
              <img class="card__star" src="../img/star.svg" alt="Звезда рейтинга">
              4,5
            </span>
            <div class="card__top card__top--rating card__top--similar">
              <picture>
                <source srcset="../img/r-85-320.webp" type="image/webp" media="(max-width: 450px)">
                <source srcset="../img/r-85.webp" type="image/webp">
                <img loading="lazy" src="../img/r-85.png" alt="Диван флоковый" class="card__img">
              </picture>
            </div>
            <div class="card__bottom card__bottom--rating">
              <div class="card__wrapper card__wrapper--product-similar">
                <h3 class="card__subtitle subtitle">
                  Диван велюровый<br>&laquo;R-85&raquo;
                </h3>
                <div class="card__inner">
                  <span class="card__price card__price--rating">34&nbsp;990 руб</span>
                </div>
              </div>
              <a href="#" class="card__btn card__btn--rating btn" target="_blank" aria-label="Кнопка Купить">Купить</a>
            </div>
          </article>
        </div>
        <div class="swiper-slide product-similar__slide card">
          <article class="card__content">
            <span class="card__sticker card__sticker--rating card__sticker--similar">
              <img class="card__star" src="../img/star.svg" alt="Звезда рейтинга">
              4,6
            </span>
            <div class="card__top card__top--rating card__top--similar">
              <picture>
                <source srcset="../img/h-58-320.webp" type="image/webp" media="(max-width: 450px)">
                <source srcset="../img/h-58.webp" type="image/webp">
                <img loading="lazy" src="../img/h-58.png" alt="Диван флоковый" class="card__img">
              </picture>
            </div>
            <div class="card__bottom card__bottom--rating">
              <div class="card__wrapper card__wrapper--product-similar">
                <h3 class="card__subtitle subtitle">
                  Диван флоковый<br>&laquo;H-58&raquo;
                </h3>
                <div class="card__inner">
                  <span class="card__price card__price--rating">23&nbsp;990 руб</span>
                </div>
              </div>
              <a href="#" class="card__btn card__btn--rating btn" target="_blank" aria-label="Кнопка Купить">Купить</a>
            </div>
          </article>
        </div>
        <div class="swiper-slide product-similar__slide card">
          <article class="card__content">
            <span class="card__sticker card__sticker--rating card__sticker--similar">
              <img class="card__star" src="../img/star.svg" alt="Звезда рейтинга">
              4,5
            </span>
            <div class="card__top card__top--rating card__top--similar">
              <picture>
                <source srcset="../img/s-44-320.webp" type="image/webp" media="(max-width: 450px)">
                <source srcset="../img/s-44.webp" type="image/webp">
                <img loading="lazy" src="../img/s-44.png" alt="Диван велюровый" class="card__img">
              </picture>
            </div>
            <div class="card__bottom card__bottom--rating">
              <div class="card__wrapper card__wrapper--product-similar">
                <h3 class="card__subtitle subtitle">
                  Диван велюровый<br>&laquo;S-44&raquo;
                </h3>
                <div class="card__inner">
                  <span class="card__price card__price--rating">19&nbsp;990 руб</span>
                </div>
              </div>
              <a href="#" class="card__btn card__btn--rating btn" target="_blank" aria-label="Кнопка Купить">Купить</a>
            </div>
          </article>
        </div>
        <div class="swiper-slide product-similar__slide card">
          <article class="card__content">
            <span class="card__sticker card__sticker--rating card__sticker--similar">
              <img class="card__star" src="../img/star.svg" alt="Звезда рейтинга">
              4,8
            </span>
            <div class="card__top card__top--rating card__top--similar">
              <picture>
                <source srcset="../img/v-43-320.webp" type="image/webp" media="(max-width: 450px)">
                <source srcset="../img/v-43.webp" type="image/webp">
                <img loading="lazy" src="../img/v-43.png" alt="Диван шиниловый" class="card__img">
              </picture>
            </div>
            <div class="card__bottom card__bottom--rating">
              <div class="card__wrapper card__wrapper--product-similar">
                <h3 class="card__subtitle subtitle">
                  Диван шиниловый<br>&laquo;V-43&raquo;
                </h3>
                <div class="card__inner">
                  <span class="card__price card__price--rating">19&nbsp;990 руб</span>
                </div>
              </div>
              <a href="#" class="card__btn card__btn--rating btn" target="_blank" aria-label="Кнопка Купить">Купить</a>
            </div>
          </article>
        </div>
        <div class="swiper-slide product-similar__slide card">
          <article class="card__content">
            <span class="card__sticker card__sticker--rating card__sticker--similar">
              <img class="card__star" src="../img/star.svg" alt="Звезда рейтинга">
              4,8
            </span>
            <div class="card__top card__top--rating card__top--similar">
              <picture>
                <source srcset="../img/g-41-320.webp" type="image/webp" media="(max-width: 450px)">
                <source srcset="../img/g-41.webp" type="image/webp">
                <img loading="lazy" src="../img/g-41.png" alt="Диван флоковый" class="card__img">
              </picture>
            </div>
            <div class="card__bottom card__bottom--rating">
              <div class="card__wrapper card__wrapper--product-similar">
                <h3 class="card__subtitle subtitle">
                  Диван флоковый<br>&laquo;G-41&raquo;
                </h3>
                <div class="card__inner">
                  <span class="card__price card__price--rating">17 990 руб</span>
                </div>
              </div>
              <a href="#" class="card__btn card__btn--rating btn" target="_blank" aria-label="Кнопка Купить">Купить</a>
            </div>
          </article>
        </div>
      </div>
    </div>
    <div class="product-similar__btn product-similar__btn--320">
      <button class="swiper-button-prev"></button>
      <button class="swiper-button-next"></button>
    </div>
  </div>
</section>
