<section class="product-section">
  <div class="container product-section__container">
    <ol class="breadcrumbs list-reset">
      <li class="breadcrumbs__item">
        <a href="#" class="breadcrumbs__link">
          Главная
        </a>
      </li>
      <li class="breadcrumbs__item">
        <a href="#" class="breadcrumbs__link">
         Каталог
        </a>
      </li>
      <li class="breadcrumbs__item">
        <a href="#" class="breadcrumbs__link">
          Диваны
        </a>
      </li>
      <li class="breadcrumbs__item">
        <a href="#" class="breadcrumbs__link">
         Прямые диваны
        </a>
      </li>
      <li class="breadcrumbs__item">
        <a href="#" class="breadcrumbs__link">
          D-31
        </a>
      </li>
    </ol>
    <div class="product-section__wrapper">
      <div class="product-section__top">
        <div class="product-section__images-large">
          <div class="swiper swiper-large-images product-section__swiper-large-images">
            <ul class="swiper-wrapper list-reset">
              <li class="swiper-slide swiper-large-images__item">
                <button class="swiper-large-images__button btn-reset" type="button" aria-label="Открыть увеличенное изображение">
                  <picture class="swiper-large-images__picture">
                    <source srcset="../img/D-31-maxi-1-1024.webp" media="(max-width: 1070px)" type="image/webp">
                    <source srcset="../img/D-31-maxi-1.webp" type="image/webp">
                    <img class="swiper-large-images__image" src="../img/D-31-maxi-1.png" width="624" height="245" loading="lazy" alt="Первое большое изображение дивана D-31">
                  </picture>
                </button>
              </li>
              <li class="swiper-slide swiper-large-images__item">
                <button class="swiper-large-images__button btn-reset" type="button" aria-label="Открыть увеличенное изображение">
                  <picture class="swiper-large-images__picture">
                    <source srcset="../img/D-31-maxi-2-1024.webp" media="(max-width: 1070px)" type="image/webp">
                    <source srcset="../img/D-31-maxi-2.webp" type="image/webp">
                    <img class="swiper-large-images__image" src="../img/D-31-maxi-2.png" width="495" height="245" loading="lazy" alt="Второе большое изображение дивана D-31">
                  </picture>
                </button>
              </li>
              <li class="swiper-slide swiper-large-images__item">
                <button class="swiper-large-images__button btn-reset" type="button" aria-label="Открыть увеличенное изображение">
                  <picture class="swiper-large-images__picture">
                    <source srcset="../img/D-31-maxi-3-1024.webp" media="(max-width: 1070px)" type="image/webp">
                    <source srcset="../img/D-31-maxi-3.webp" type="image/webp">
                    <img class="swiper-large-images__image" src="../img/D-31-maxi-3.png" width="265" height="245" loading="lazy" alt="Третье большое изображение дивана D-31">
                  </picture>
                </button>
              </li>
              <li class="swiper-slide swiper-large-images__item">
                <button class="swiper-large-images__button btn-reset" type="button" aria-label="Открыть увеличенное изображение">
                  <picture class="swiper-large-images__picture">
                    <source srcset="../img/D-31-maxi-4-1024.webp" media="(max-width: 1070px)" type="image/webp">
                    <source srcset="../img/D-31-maxi-4.webp" type="image/webp">
                    <img class="swiper-large-images__image" src="../img/D-31-maxi-4.png" width="538" height="245" loading="lazy" alt="Четвертое большое изображение дивана D-31">
                  </picture>
                </button>
              </li>
              <li class="swiper-slide swiper-large-images__item">
                <button class="swiper-large-images__button btn-reset" type="button"  aria-label="Открыть увеличенное изображение">
                  <picture class="swiper-large-images__picture">
                    <source srcset="../img/D-31-maxi-5-1024.webp" media="(max-width: 1070px)" type="image/webp">
                    <source srcset="../img/D-31-maxi-5.webp" type="image/webp">
                    <img class="swiper-large-images__image" src="../img/D-31-maxi-5.png" width="551" height="245" loading="lazy" alt="Пятое большое изображение дивана D-31">
                  </picture>
                </button>
              </li>
            </ul>
          </div>
        </div>
        <div class="product-section__images-small">
          <div class="swiper swiper-small-images product-section__swiper-small-images">
            <ul class="swiper-wrapper list-reset">
              <li class="swiper-slide swiper-small-images__item">
                <picture class="swiper-small-images__picture">
                  <source srcset="../img/D-31-mini-1.webp" type="image/webp" >
                  <img class="swiper-small-images__image" src="../img/D-31-mini-1.png" width="155" height="61" loading="lazy" alt="Первое маленькое изображение дивана D-31">
                </picture>
              </li>
              <li class="swiper-slide swiper-small-images__item">
                <picture class="swiper-small-images__picture">
                  <source srcset="../img/D-31-mini-2.webp" type="image/webp" >
                  <img class="swiper-small-images__image" src="../img/D-31-mini-2.png" width="123" height="61" loading="lazy" alt="Второе маленькое изображение дивана D-31">
                </picture>
              </li>
              <li class="swiper-slide swiper-small-images__item swiper-small-images__item--mini">
                <picture class="swiper-small-images__picture">
                  <source srcset="../img/D-31-mini-3.webp" type="image/webp" >
                  <img class="swiper-small-images__image" src="../img/D-31-mini-3.png" width="66" height="61" loading="lazy" alt="Третье маленькое изображение дивана D-31">
                </picture>
              </li>
              <li class="swiper-slide swiper-small-images__item">
                <picture class="swiper-small-images__picture">
                  <source srcset="../img/D-31-mini-4.webp" type="image/webp" >
                  <img class="swiper-small-images__image" src="../img/D-31-mini-4.png" width="134" height="61"loading="lazy" alt="Четвертое маленькое изображение дивана D-31">
                </picture>
              </li>
              <li class="swiper-slide swiper-small-images__item">
                <picture class="swiper-small-images__picture">
                  <source srcset="../img/D-31-mini-5.webp" type="image/webp" >
                  <img class="swiper-small-images__image" src="../img/D-31-mini-5.png" width="137" height="61" loading="lazy" alt="Пятое маленькое изображение дивана D-31">
                </picture>
              </li>
            </ul>
          </div>
        </div>
        <div class="product-section__info">
          <span class="product-section__rating">
            <img class="card__star" src="../img/star.svg" alt="Звезда рейтинга">
            4,8
          </span>
          <h1 class="product-section__title subtitle">
            Диван тканевый прямой &laquo;D-31&raquo;
          </h1>
          <p class="product-section__descr">
            Мини 120&nbsp;см без ящика Stark синий (Рогожка)
          </p>
          <span class="product-section__price">
            28&nbsp;490 руб
          </span>
          <button class="product-section__btn btn btn--primary" id="buy-in-one-click-btn">
            Купить в&nbsp;один клик
          </button>
          <a href="#" class="product-section__link">
            + Добавить в&nbsp;корзину
          </a>
        </div>
      </div>
      <div class="product-section__bottom">
        <div class="product-section__mechanics mechanics">
          <div class="mechanics__wrapper">
            <h2 class="mechanics__title">
              Опорный механизм
            </h2>
            <p class="mechanics__descr descr">
              Опорный механизм напоминает пантограф, к&nbsp;которому добавили дополнительную секцию. У&nbsp;опорного дивана сиденье &laquo;выпрыгивает&raquo; вперёд и&nbsp;вытаскивает вторую часть спального места. Заключительный штрих&nbsp;&mdash; опустить спинку.
            </p>
            <p class="mechanics__descr descr">
              Этот механизм не&nbsp;портит пол и&nbsp;не&nbsp;боится ковров. Требуется чуть больше силы, чтобы разложить диван, но&nbsp;подросток справится.
            </p>
          </div>
          <div class="mechanics__images">
            <picture class="mechanics__img">
              <source srcset="../img/mechanism-1-1024.webp" type="image/webp" media="(max-width: 1070px)">
              <source srcset="../img/mechanism-1.webp" type="image/webp">
              <img loading="lazy" src="../img/mechanism-1.png" width="247" height="113" alt="первое изображение опорного механизма дивана D-31">
            </picture>
            <picture class="mechanics__img">
              <source srcset="../img/mechanism-2-1024.webp" type="image/webp" media="(max-width: 1070px)">
              <source srcset="../img/mechanism-2.webp" type="image/webp">
              <img loading="lazy" src="../img/mechanism-2.png" width="247" height="113" alt="второе изображение опорного механизма дивана D-31">
            </picture>
          </div>
        </div>
        <div class="product-section__detail detail">
          @include('details.html')
        </div>
      </div>
    </div>
  </div>
</section>

