<ul class="social list-reset">
  <li class="social__item">
    <a href="#" target="_blank" class="social__link social__link--fb" aria-label="Наша страничка в Фейсбуке">
      <svg class="social__img">
        <use xlink:href="img/sprite.svg#fb"></use>
      </svg>
    </a>
  </li>
  <li class="social__item">
    <a href="#" target="_blank" class="social__link social__link--vk" aria-label="Наша страничка во Вконтакте">
      <svg class="social__img">
        <use xlink:href="img/sprite.svg#vk"></use>
      </svg>
    </a>
  </li>
  <li class="social__item">
    <a href="#" target="_blank" class="social__link social__link--ig" aria-label="Наша страничка в Твиттере">
      <svg class="social__img">
        <use xlink:href="img/sprite.svg#instagram"></use>
      </svg>
    </a>
  </li>
</ul>
