<section class="useful">
  <div class="container useful__container">
    <div class="useful__top">
      <h2 class="title useful__title">
        Полезное
      </h2>
      <div class="useful__btn">
				<button class="swiper2-button-prev"></button>
				<button class="swiper2-button-next"></button>
			</div>
    </div>
    <div class="swiper-useful useful__swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide useful__slide">
          <div class="useful__card useful__card--img1">
            <p class="useful__descr">
              И нет сомнений, что сделанные на базе интернет-аналитики выводы представляют собой не что иное?
            </p>
            <a href="#" class="useful__button btn">Читать</a>
          </div>
        </div>
        <div class="swiper-slide useful__slide">
          <div class="useful__card useful__card--img2">
            <p class="useful__descr">
              Как принято считать, некоторые особенности приносят несомненную пользу обществу?
            </p>
            <a href="#" class="useful__button btn">Читать</a>
          </div>
        </div>
        <div class="swiper-slide useful__slide">
          <div class="useful__card useful__card--img3">
            <p class="useful__descr">
              Ясность нашей позиции очевидна: укрепление и&nbsp;развитие внутренней структуры?
            </p>
            <a href="#" class="useful__button btn">Читать</a>
          </div>
        </div>
        <div class="swiper-slide useful__slide">
          <div class="useful__card useful__card--img4">
            <p class="useful__descr">
              Прежде всего, консультация с&nbsp;широким активом однозначно фиксирует необходимость распределения?
            </p>
            <a href="#" class="useful__button btn">Читать</a>
          </div>
        </div>
        <div class="swiper-slide useful__slide">
          <div class="useful__card useful__card--img5">
            <p class="useful__descr">
              Как принято считать, некоторые особенности приносят несомненную пользу обществу?
            </p>
            <a href="#" class="useful__button btn">Читать</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
