html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: $font-family;
  color: $black;
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
  overflow-x: hidden
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.site-container {
  overflow-x: hidden;
}

.is-hidden {
  display: none !important;
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}
.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}
.is-visible {
  display: block;
}

.container {
  margin: 0 auto;
  padding: 0 $container-offset;
  max-width: $container-width;
  @media (max-width: 1840px) {
    padding: 0 $container-offset-1024;
  }
  @media (max-width: 1008px) {
    padding: 0 $container-offset-768;
  }
  @media (max-width: 765px) {
    padding: 0 $container-offset-320;
  }
  &--cooperation {
    padding-right: 758px;
    margin-bottom: 34px;
    @media (max-width: 1840px) {
      padding-right: 150px;
    }
    @media (max-width: 1008px) {
      padding-right: 67px;
    }
    @media (max-width: 765px) {
      padding-right: 13px;
      margin-bottom: 31px;
    }
  }
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  overscroll-behavior: none;
}

.title {
  margin: 0;
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 32px;
  line-height: 100%;
  @media (max-width: 1008px) {
    margin-bottom: 24px;
  }
  @media (max-width: 765px) {
    margin-bottom: 24px;
    font-size: 24px;
  }
}

.subtitle {
  margin: 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  @media (max-width: 765px) {
    font-size: 16px;
  }
  &--big {
    @media (max-width: 765px) {
      font-size: 24px;
    }
  }
  &--cooperation {
    margin-bottom: 11px;
    @media (max-width: 1840px) {
      margin-bottom: 13px;
    }
  }
}

.descr {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 180%;
  color: $grey_shade;
}

.btn {
  display: block;
  padding: 19px 34px;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  color: $primary;
  border: 2px solid $primary;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.5s ease-in-out, border 0.3s ease-in-out, color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  &--primary {
    background: $primary;
    color: $light-color;
  }
  &--320 {
    width: 100%;
  }
}

.arrow-link {
  position: relative;
  display: inline-block;
  color: $primary;
  font-weight: 700;
  line-height: 120%;
  transition: border-bottom 0.3s ease-in-out, background 0.3s ease-in-out, border-color 0.3s ease-in-out, color 0.3s ease-in-out;
  &--categories {
    position: absolute;
    bottom: 22px;
  }
  &:focus {
    border-bottom: 2px solid $primary;
  }
  &:focus::before {
    background: $primary-light;
  }
  &:focus::after {
    border-color: $light-color;
  }
  &:hover {
    border-bottom: 2px solid $primary;
  }
  &:hover::before {
    background: $primary;
  }
  &:hover::after {
    border-color: $light-color;
  }
  &:active {
    border-color: $primary-shade;
    color: $primary-shade;
  }
  &:active::before {
    background: $primary-shade;
  }

  &::before {
    content: "";
    position: absolute;
    width: 22px;
    height: 22px;
    right: -27px;
    border: 2px solid $primary;
    border-radius: 50%;
    background: none;
    z-index: 5;
    transition: background 0.3s ease-in-out, border-color 0.3s ease-in-out;
  }
  &::after {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    top: 7px;
    right: -18px;
    border-bottom: 2px solid $primary;
    border-right: 2px solid $primary;
    transform: rotate(-45deg);
    z-index: 5;
    transition: border-color 0.3s ease-in-out;
  }
}

.swiper-button-prev,
.swiper2-button-prev {
  margin-right: 13px;
}

.swiper-button-prev::after,
.swiper-button-next::after,
.swiper2-button-prev::after,
.swiper2-button-next::after {
  display: none;
}
.swiper-button-next,
.swiper-button-prev,
.swiper2-button-next,
.swiper2-button-prev  {
  position: relative;
  width: 32px;
  height: 32px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border: 2px solid $primary;
  border-radius: 50%;
  background: none;
  z-index: 5;
  transition: background 0.3s ease-in-out, border-color 0.3s ease-in-out;
}
.swiper-button-next:focus,
.swiper-button-prev:focus,
.swiper2-button-next:focus,
.swiper2-button-prev:focus {
  background: $primary_light;
}
.swiper-button-next:hover,
.swiper-button-prev:hover,
.swiper2-button-next:hover,
.swiper2-button-prev:hover {
  background: $primary;
}
.swiper-button-next:active,
.swiper-button-prev:active,
.swiper2-button-next:active,
.swiper2-button-prev:active {
  background: $primary_shade;
}
.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled,
.swiper2-button-prev.swiper-button-disabled,
.swiper2-button-next.swiper-button-disabled {
  opacity: 1;
  border-color: $grey;
}
.swiper-button-prev.swiper-button-disabled::before,
.swiper-button-next.swiper-button-disabled::before,
.swiper2-button-prev.swiper-button-disabled::before,
.swiper2-button-next.swiper-button-disabled::before {
  opacity: 1;
  border-color: $grey;
}
.swiper-button-next::before,
.swiper2-button-next::before {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  top: 35%;
  bottom: 50%;
  right: 50%;
  left: 33%;
  border-bottom: 2px solid $primary;
  border-right: 2px solid $primary;
  transform: rotate(-45deg);
  z-index: 5;
  transition: border-color 0.3s ease-in-out;
}
.swiper-button-prev::before,
.swiper2-button-prev::before {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  top: 35%;
  bottom: 50%;
  right: 50%;
  left: 39%;
  border-top: 2px solid $primary;
  border-left: 2px solid $primary;
  transform: rotate(-45deg);
  z-index: 5;
  transition: border-color 0.3s ease-in-out;
}
.swiper-button-prev:focus::before,
.swiper-button-next:focus::before,
.swiper2-button-prev:focus::before,
.swiper2-button-next:focus::before {
  border-color: $light-color
}
.swiper-button-prev:hover::before,
.swiper-button-next:hover::before,
.swiper2-button-prev:hover::before,
.swiper2-button-next:hover::before {
  border-color: $light-color
}
.swiper-button-prev:active::before,
.swiper-button-next:active::before,
.swiper2-button-prev:active::before,
.swiper2-button-next:active::before {
  border-color: $light-color
}

.swiper-wrapper {
  box-sizing: border-box;
  height: auto;
}
.swiper-slide {
  height: auto;
}

:active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}
